
@import '@axa-fr/react-toolkit-core/src/bootstrap/af-bootstrap.scss';
@import '@axa-fr/react-toolkit-button/dist/button.scss';
@import '@axa-fr/react-toolkit-icon/dist/icons.scss';
@import '@axa-fr/react-toolkit-status/dist/status.scss';
@import '@axa-fr/react-toolkit-table/dist/table.scss';
@import '@axa-fr/react-toolkit-table/dist/Pager/pager.scss';
@import '@axa-fr/react-toolkit-table/dist/Paging/paging.scss';
