table.table.table-striped.table-bordered.af-table.af-table--epargne
  thead.af-table-thead
    tr.af-table-tr
      each headElt in ['Nom', 'Prénom', 'Age', 'Profession']
        th.af-table-th
          span.af-table-th-content #{headElt}
  tbody.af-table-body
    each lineElt in [1, 2, 3, 4, 5]
      tr.af-table-tr
        each cellElt in ['test 1', 'test 2', 'test 3', 'test 4']
          td.af-table-cell #{cellElt}
