include ../../../organisms/header/templates/classic.pug
include ../../../molecules/navigation/templates/classic.pug
include ../../../molecules/title-bar/templates/title-bar-complex.pug

.af-container
  .row
    .col.col-md-12
      include ../../../molecules/steps/templates/classic.pug
  .row
    .col.col-sm-12.col-md-12.col-lg-8.col-xl-8
      include ../../../organisms/form/templates/classic.pug
    .col.col-sm-12.col-md-12.col-lg-4.col-xl-4
      include ../../../organisms/panel/templates/panel-selection.pug
      include ../../../organisms/panel/templates/panel-list.pug
include ../../../molecules/footer/templates/classic.pug