-const universes = ['','auto','habitation','loisirs','sante','banque','epargne','entreprise','collective','iard','patrimonial','pros','assurbanque'];
.row
  .col.col-sm-12.col-md-12.col-lg-6.col-xl-4
    include ./panel-basic.pug
  .col.col-sm-12.col-md-12.col-lg-6.col-xl-4
    include ./panel-selection.pug
.row
  each uni in universes
    .col.col-sm-12.col-md-12.col-lg-6.col-xl-4
      article.af-panel(class=(uni!=='') ? `af-panel--${uni}` : "")
        header.af-panel__header
          span.af-panel__title Title #{uni}
        section.af-panel__content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque similique, quis aliquam temporibus velit ullam, quos quasi? Quod modi asperiores incidunt, velit repellendus, totam saepe quaerat voluptates cum quo facere.
        footer.af-panel__footer
          a.af-panel__footer-link(href="https://www.qwant.com" target="_blank" rel="noopener noreferrer")
            i.glyphicon.glyphicon-new-window
            span  Aller sur Inaxa
