div(style="background:white; padding: 2rem;")
  h1.af-title.af-title--bigTitle Super titre
  h1.af-title Title h1
  h2.af-title Title h2
  h3.af-title Title h3
  h4.af-title Title h4
  h5.af-title Title h5
  h6.af-title Title h6
  h1.af-title--content Header 1
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis alias placeat pariatur animi doloremque consequatur adipisci esse, numquam officiis soluta ipsam laboriosam? Reprehenderit iusto magni obcaecati quos, hic ab.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis alias placeat pariatur animi doloremque consequatur adipisci esse, numquam officiis soluta ipsam laboriosam? Reprehenderit iusto magni obcaecati quos, hic ab.
  h2.af-subtitle Header 2
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis alias placeat pariatur animi doloremque consequatur adipisci esse, numquam officiis soluta ipsam laboriosam? Reprehenderit iusto magni obcaecati quos, hic ab.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis alias placeat pariatur animi doloremque consequatur adipisci esse, numquam officiis soluta ipsam laboriosam? Reprehenderit iusto magni obcaecati quos, hic ab.
  h3.af-subtitle Header 3
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis alias placeat pariatur animi doloremque consequatur adipisci esse, numquam officiis soluta ipsam laboriosam? Reprehenderit iusto magni obcaecati quos, hic ab.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis alias placeat pariatur animi doloremque consequatur adipisci esse, numquam officiis soluta ipsam laboriosam? Reprehenderit iusto magni obcaecati quos, hic ab.
  h4.af-subtitle Header 4
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis alias placeat pariatur animi doloremque consequatur adipisci esse, numquam officiis soluta ipsam laboriosam? Reprehenderit iusto magni obcaecati quos, hic ab.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis alias placeat pariatur animi doloremque consequatur adipisci esse, numquam officiis soluta ipsam laboriosam? Reprehenderit iusto magni obcaecati quos, hic ab.
  h5.af-subtitle Header 5
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis alias placeat pariatur animi doloremque consequatur adipisci esse, numquam officiis soluta ipsam laboriosam? Reprehenderit iusto magni obcaecati quos, hic ab.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis alias placeat pariatur animi doloremque consequatur adipisci esse, numquam officiis soluta ipsam laboriosam? Reprehenderit iusto magni obcaecati quos, hic ab.
  h6.af-subtitle Header 6
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis alias placeat pariatur animi doloremque consequatur adipisci esse, numquam officiis soluta ipsam laboriosam? Reprehenderit iusto magni obcaecati quos, hic ab.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, blanditiis alias placeat pariatur animi doloremque consequatur adipisci esse, numquam officiis soluta ipsam laboriosam? Reprehenderit iusto magni obcaecati quos, hic ab.
