extends ../../../commons/layout

block meta
  -var activePath = '/molecules/navigation';
  -const { metatitle, metadescription, metakeywords, github, storybook, badge, colors } = require(`../src/pages${activePath}/data.json`)
  -var sassPath = 'react-toolkit-layout-header/dist/NavBar/nav.scss'
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../../'

block vars
  - var id = "component"

block menu
  +Menu({ activePath })

block page
  +PageTitle({ title: 'Navigation', subtitle: 'Molecule' })
  .tk-page__links
    +PageSummary()
    +PageLinks({github, storybook, badge})
  +PageContentComponent()
    block guidelines
      +PageMarkdown()
        include:markdown-it ./markdown/guidelines.md
    block code
      +Demo({ title:'Classic Navigation', storybook, activePath, tmpl: 'classic', sassPath })
    block style
      +Colors({ colors })
      +PageMarkdown()
        include:markdown-it ./markdown/style.md
