footer.af-footer-client
  .af-footer-client__top
    .container
      .af-footer-client__top-container
        .af-footer-client__column
          h3.af-footer-client__column-title Languages
          ul.af-footer-client__column-items
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="/9") Lorem
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="/8") Young driver insurance
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="/7") Home insurance
        .af-footer-client__column
          h3.af-footer-client__column-title Axa & You
          ul.af-footer-client__column-items
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="/6") Call us
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="/5") Policy documents
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="/4") Xtra by AXA
        .af-footer-client__column
          h3.af-footer-client__column-title Useful links
          ul.af-footer-client__column-items
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="/3") About us
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="/2") Careers
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="/1") Blog
        .af-footer-client__column
          h3.af-footer-client__column-title Follow AXA
          ul.af-footer-client__column-items
            ul.social-network__list
              li.social-network__item
                a.social-network__link(href="facebook")
                  i.social-network__icon.glyphicon.glyphicon-facebook
              li.social-network__item
                a.social-network__link(href="linkedin-logo")
                  i.social-network__icon.glyphicon.glyphicon-linkedin-logo
              li.social-network__item
                a.social-network__link(href="youtube-symbol")
                  i.social-network__icon.glyphicon.glyphicon-youtube-symbol
              li.social-network__item
                a.social-network__link(href="instagram")
                  i.social-network__icon.glyphicon.glyphicon-instagram
              li.social-network__item
                a.social-network__link(href="twitter-logo-silhouette")
                  i.social-network__icon.glyphicon.glyphicon-twitter-logo-silhouette
  .af-footer-client__bottom
    .container
      .af-languageSelection
        h3.af-languageSelection__title  Languages: 
        ul.af-languageSelection__list
          li.af-languageSelection__item.af-languageSelection__item--active
            button.af-languageSelection__item-button English
          li.af-languageSelection__item
            button.af-languageSelection__item-button Chinese
      .af-footer-client__policy Policy Privacy © 2016 AXA All Rights Reserved 
