
@import '@axa-fr/react-toolkit-core/src/bootstrap/af-bootstrap.scss';
@import '@axa-fr/react-toolkit-icon/dist/icons.scss';
@import '@axa-fr/react-toolkit-alert/dist/alert.scss';

.af-title {
  font-size: 2rem;
  font-weight: 600;
  color: $color-pager-link;
  margin: 50px 0;
  padding: 0 0 10px;
  border-bottom: 2px solid $color-mercury;
}

.colors-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  &__item {
    width: 17rem;
    height: 17rem;
    position: relative;

    .glyphicon {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-demo {
      width: 7rem;
      height: 7rem;
      position: absolute;
      top: 27%;
      left: 50%;
      transform: translate(-50%, -50%);

      &[style='background:#fff;'] {
        border: 1px solid black;
      }
    }

    &-name {
      position: absolute;
      width: 100%;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      line-height: 100%;
    }

    &-hexa {
      position: absolute;
      width: 100%;
      top: 57%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    &-title {
      position: absolute;
      width: 100%;
      top: 72%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: $color-pager-link;
      font-weight: 600;
    }
  }
}
