.af-alert.af-alert--info
  h3.af-alert__title
    .af-alert__title-icon
      i.glyphicon.glyphicon-info-sign
    .af-alert__title-text
      | Implémentation
  .af-alert__content
    .af-alert__content__left
    .af-alert__content__right
      p l'utilisation des variables SASS nécessite l'import du fichier.
      p Exemple d'import : 
        b 
include ./template.pug
