.af-header
  .af-container.af-header__wrapper
    header.af-header__content(role="banner")
      .af-header__name
        a.af-logo(href="/")
          img.af-logo__brand(src="../../assets/images/slash-logo.svg" alt="Logo Slash Design System")
        h2.af-header__title
          | Nom de l&apos;application
          small.af-header__subtitle Baseline
      .af-contrat
        i.glyphicon.glyphicon-info-sign
        dl.af-contrat__list
          dt.af-contrat__word Client :
          dd.af-contrat__def 0123456789 - NOM
          dt.af-contrat__word Portefeuille :
          dd.af-contrat__def 000123456789
          dt.af-contrat__word Status :
          dd.af-contrat__def Affaire nouvelle
      .af-info-user
        a.af-info-user__link(href="/profile" title="Voir mon profil")
          span.af-info-user__name Pierre Martin
          span.af-info-user__profile [Profile]
