.af-form__group.af-form__group--label-top.row
  .col-md-2
    label.af-form__group-label Classic checkbox
  .col-md-10
    .af-form__checkbox.af-form__checkbox--success
      input.af-form__input-checkbox#checkbox5(name="checkboxname3" type="checkbox")
      label.af-form__label(for="checkbox5")
        span.af-form__indicator
          span.glyphicon.glyphicon-ok
        span.af-form__description lorem ipsum dolor sit amet
    .af-form__checkbox.af-form__checkbox--success
      input.af-form__input-checkbox#checkbox6(name="checkboxname3" type="checkbox")
      label.af-form__label(for="checkbox6")
        span.af-form__indicator
          span.glyphicon.glyphicon-ok
        span.af-form__description Nam sem nisi, auctor sit amet massa sit amet
    .af-form__checkbox.af-form__checkbox--success
      input.af-form__input-checkbox#checkbox7(name="checkboxname3" type="checkbox")
      label.af-form__label(for="checkbox7")
        span.af-form__indicator
          span.glyphicon.glyphicon-ok
        span.af-form__description Ut sollicitudin eleifend tincidunt
