.af-form__group.row
  .col-md-2
    label.af-form__group-label Custom checkbox *
  .col-md-10
    .af-form__checkbox-custom.af-form__checkbox-custom--success
      input.af-form__input-checkbox#checkbox1(name="checkboxname" type="checkbox")
      label.af-form__label(for="checkbox1")
        span.af-form__indicator
          span.glyphicon.glyphicon-ok
        span.af-form__description Option 1
    .af-form__checkbox-custom.af-form__checkbox-custom--success
      input.af-form__input-checkbox#checkbox2(name="checkboxname" type="checkbox")
      label.af-form__label(for="checkbox2")
        span.af-form__indicator
          span.glyphicon.glyphicon-ok
        span.af-form__description Option 2
