.af-form__group.row
  .col-md-2
    label.af-form__group-label Inline checkbox
  .col-md-10
    .af-form__checkbox-inline.af-form__checkbox-inline--success
      input.af-form__input-checkbox#checkbox3(name="checkboxname2" type="checkbox")
      label.af-form__label(for="checkbox3")
        span.af-form__indicator
          span.glyphicon.glyphicon-ok
        span.af-form__description Option 1
    .af-form__checkbox-inline.af-form__checkbox-inline--success
      input.af-form__input-checkbox#checkbox4(name="checkboxname2" type="checkbox")
      label.af-form__label(for="checkbox4")
        span.af-form__indicator
          span.glyphicon.glyphicon-ok
        span.af-form__description Option 2
