.af-form__group.row
  .col-md-2
    label.af-form__group-label(for="inputwithclear") Input with clear *
  .col-md-10
    .af-form__text.af-form__text--error
      .af-form__text-wrapper
        input.af-form__input-text.af-form__input-text--hasinfobulle(id="inputwithclear" name="inputwithclear" value="Example" type="text")
        .glyphicon.glyphicon-close.af-form__clear(role="button" tabindex="-1")
        button.btn.af-btn--circle-small(type="button")
          span.af-more-help i
    small.af-form__message.af-form__message--error
      span.glyphicon.glyphicon-exclamation-sign
      span.af-form__error-text Message d'erreur
