.af-form__group.row
  .col-md-2
    label.af-form__group-label(for="inputtext2") Input text with infobulle *
  .col-md-10
    .af-form__text.af-form__text--success
      input.af-form__input-text.af-form__input-text--hasinfobulle#inputtext2(name="inputtextname2" type="text" value="lorem")
      button.af-btn--circle-small
        span.af-more-help i
