.af-form__group.row
  .col-md-2
    label.af-form__group-label(for="inputtext1") Input text *
  .col-md-10
    .af-form__text.af-form__text--error
      input.af-form__input-text#inputtext1(name="inputtextname" type="text")
    small.af-form__message.af-form__message--error
      span.glyphicon.glyphicon-exclamation-sign
      span.af-form__error-text Message d'erreur
