.af-form__group.row
  .col-md-2
    label.af-form__group-label(for="inputtext1") Input text *
  .col-md-10
    .af-form__text
      input.af-form__input-text#inputtext1(name="inputtextname" type="text")
      small.af-form__help Aide à la saisie
