@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.af-pager {
  &__pagination {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  &__item {
    border-radius: rem(25px);
    font-size: 0.9375rem;

    &--active {
      background: $color-axa;
      color: $white;
      min-width: 1.9rem;
      height: 1.9rem;
      text-align: center;

      &:hover {
        background: $color-azur;
      }

      .af-pager__item-link {
        color: $white;
      }
    }

    &-link,
    &-nolink {
      display: inline-flex;
      padding: 0.3em 0.5rem;
      color: $color-pager-link;
    }

    &-text {
      text-decoration: underline;
    }

    &-icon {
      margin: 0 0.5rem;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .af-paging__pager {
    margin-top: 2rem;
  }
  .af-paging__limit {
    margin: 1rem auto;
    text-align: center;
    width: 100%;
    [class^='col'] {
      padding: inherit;
      flex-basis: inherit;
      flex-grow: inherit;
      width: inherit;
    }
    .af-form__group {
      justify-content: space-evenly;
    }
  }
}
