@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.af-form {
  &-switch {
    width: auto;
    height: 24px;
    display: inline-block;
    border-radius: 15px;
    background-color: $color-mercury;
    font-size: 0.819rem;
    position: relative;

    .af-form__radio-custom {
      height: 100%;
      margin: 0;
      color: $color-pager-link;
      box-sizing: border-box;
      cursor: pointer;
      user-select: none;

      .af-form__label,
      .af-form__input-radio:checked + .af-form__label,
      &:hover .af-form__label {
        height: 100%;
        padding: 0 12px;
        background: none;
        border: none;
        box-shadow: none;
        z-index: 1;
      }
    }

    .af-btn-switch-slider {
      position: absolute;
      cursor: pointer;
      display: inline-block;
      width: 100%;
      height: 30px;
      top: -3px;
      padding: 0 12px;
      background-color: $color-azur;
      border-radius: 15px;
      box-shadow: 0 2px 4px 0 rgba(123, 123, 123, 0.5);
      transform: translateX(0);
      transition: 0.4s;
    }
  }
}
