form.af-form(name="myform")
  h1.af-title--content Form Element
  include ../../../molecules/form-checkbox/templates/form-checkbox.pug
  include ../../../molecules/form-checkbox/templates/form-checkbox-inline.pug
  include ../../../molecules/form-checkbox/templates/form-checkbox-custom.pug
  include ../../../molecules/form-radio/templates/form-radio.pug
  include ../../../molecules/form-radio/templates/form-radio-inline.pug
  include ../../../molecules/form-radio/templates/form-radio-custom.pug
  include ../../../molecules/form-radio-switch/templates/form-radio-switch.pug
  include ../../../molecules/form-text/templates/form-text.pug
  include ../../../molecules/form-text/templates/form-text-bulle.pug
  include ../../../molecules/form-text/templates/form-text-disabled.pug
  include ../../../molecules/form-select/templates/form-select.pug
  include ../../../molecules/form-select/templates/form-select-inline.pug
  include ../../../molecules/form-select/templates/form-select-disabled.pug
  include ../../../molecules/form-textarea/templates/form-textarea.pug
  include ../../../molecules/form-textarea/templates/form-textarea-disabled.pug
  include ../../../molecules/form-file/templates/form-file.pug
  include ../../../molecules/form-pass/templates/form-pass.pug
  include ../../../atoms/slider/templates/classic.pug