.#{$prefix} {
  &-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: $color-azur;
    color: $white;
    padding: 0.8rem 1.2rem;
    font-weight: 100;
    font-size: 1rem;
    min-width: 10rem;
    box-shadow: inset 0 -3px $color-axa;
    transition: all 0.2s linear;
    text-transform: uppercase;
    border-radius: 3px;
    text-align: center;
    margin-right: 2rem;
    &:not(:disabled) {
      cursor: pointer;
    }
    &:hover {
      background: $color-axa;
    }
    &__icon {
      height: 1.2rem;
      fill: $white;
    }
    &__text {
      margin: 0;
    }
    &--has-icon-right {
      justify-content: space-between;
      .#{$prefix} {
        &-btn {
          &__icon {
            order: 1;
          }
          &__text {
            margin: 0 1rem 0 0;
          }
        }
      }
    }
    &--reverse {
      background: $white;
      color: $color-azur;
      border: 1px solid $color-azur;
      &:hover {
        color: $white;
      }
    }
  }
}
