@import '@axa-fr/react-toolkit-core/src/bootstrap/af-bootstrap.scss';
@import '@axa-fr/react-toolkit-button/dist/button.scss';
@import '@axa-fr/react-toolkit-title/dist/title.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/Title/title-bar.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/Header/header.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/Name/name.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/Infos/infos.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/User/user.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/Logo/logo.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/NavBar/nav.scss';
