@import "../variables"; // not in app => require vars

.react-tabs {
  &__tab-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid $tab-border-color--selected;
  }

  &__tab {
    background: $tab-bg-color;
    border: 1px solid $tab-border-color;
    border-top-width: 3px;
    border-bottom: none;
    margin-right: .3rem;
    cursor: pointer;
    padding: .5rem 1rem;
    color: $tab-color;

    &:hover {
      background: $tab-bg-color--hover;
      color: $tab-color--hover;
      border-color: $tab-border-color--hover;
    }

    &--selected {
      background: $tab-bg-color--selected;
      border-color: $tab-border-color--selected;
      color: $tab-color--selected;

      &:hover {
        background: $tab-bg-color--selected--hover;
        color: $tab-color--selected--hover;
        border-color: $tab-border-color--selected--hover;
      }
    }
  }
}
