h2 Simple link
a.af-link(href="#") Lien simple

h2 Link with left icon
a.af-link.af-link--hasIconLeft(href="#")
  i.glyphicon.glyphicon-plus
  span.af-link__text Lien avec icone
br
a.af-link.af-link--hasIconLeft(href="#")
  i.glyphicon.glyphicon-arrowthin-left
  span.af-link__text Lien retour
br
a.af-link.af-link--hasIconLeft(href="#")
  i.glyphicon.glyphicon-plus-sign
  span.af-link__text Lien plus
br
a.af-link.af-link--hasIconLeft(href="#")
  i.glyphicon.glyphicon-pencil
  span.af-link__text Lien edition
br
a.af-link.af-link--hasIconLeft(href="#")
  i.glyphicon.glyphicon-print
  span.af-link__text Lien imprimer
br
a.af-link.af-link--hasIconLeft(href="#")
  i.glyphicon.glyphicon-question-sign
  span.af-link__text Lien question

h2 Link with right icon
a.af-link.af-link--hasIconRight(href="#")
  span.af-link__text Lien new window
  i.glyphicon.glyphicon-new-window
