
.cache
.settings/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/**/storybook-static/
/**/axa-static/
/**/dist/
/**/.toolkit/
jest-test-results.json
/packages/**/LICENSE
/storybook/**/LICENSE
/coverage
node_modules/
storybook/storybook/src/components
storybook/storybook/storybook-static/
storybook/toolkit/public
tmp/
.npmrc
.scannerwork/

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride
.idea
.vs

# Ignore icons pug file generate by Gulp task
storybook/design-system/src/pages/guidelines/icones/templates/*.pug
storybook/design-system/src/pages/get-started/contributors/templates/contributors-page.pug

# Ignore package-lock.json / yarn.lock in dependencies
packages/**/package-lock.json
packages/**/yarn.lock
