include ../Header/header.pug
include ../Nav/nav.pug
include ../TitleBar/title-bar-complex.pug
.container
  .row
    .col.col-md-12
      include ../StepForm/step-form.pug
  .row
    .col.col-sm-12.col-md-12.col-lg-8.col-xl-8
      include ../Form/form-element.pug
    .col.col-sm-12.col-md-12.col-lg-4.col-xl-4
      include ../Panel/panel-selection.pug
      include ../Panel/panel-basic.pug
include ../Footer/footer.pug
