@import '@axa-fr/react-toolkit-panel/dist/panel.scss';
@import '@axa-fr/react-toolkit-form-input-slider/dist/slider.scss';
.af-panel {
  &--new {
    padding: 2em 1em 1em 1em;
    flex-direction: initial;
    flex-wrap: wrap;
    .af-panel__content {
      overflow: inherit;
      flex-basis: 50%;
    }
  }
}

.af-btn--confirm {
  text-align: center;
}

.af-steps-new--devis {
  margin-bottom: 0;
}
