@charset "UTF-8";

@function unicode($str) {
   @return unquote("\"")+unquote(str-insert($str, "\\", 1))+unquote("\"")
}

@font-face {
  font-family: "icons";
  src: url("icons.eot");
  src: url("icons.eot?#iefix") format("embedded-opentype"), url("icons.woff") format("woff"), url("icons.ttf") format("truetype"), url("icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.glyphicon {
  font-family: "icons";
  position: relative;
  top: 0;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icons
$icons: <%= icons %>;

@each $name, $unicode in $icons {
  .glyphicon-#{$name}::before {
    content: unicode($unicode);
  }
}
