a.af-logo(href="https://www.axa.fr" target="blank" title="Site Axa")
  img.af-logo__brand(src="assets/logo-axa.svg" alt="Logo Axa")
  span.af-logo-name AXA
  svg.af-logo-switch(x="0" y="0" width="100px" height="100px" viewbox="0 0 100 100")
    polygon(points="97.213,0.335 81.749,0.335 2.787,99.665 18.251,99.665")
  span.af-logo-headline Test
