@import '@axa-fr/react-toolkit-core/src/bootstrap/theme.scss';

// stylelint-disable color-no-hex

$bgColor: #373a47;
$bgColorDark: #292b35;
$bgColorLight: #576191;
$textColor: #b8b7ad;
$textColor-primary: #c94e50;

// Code
$code-bg: #364150 !default;
$code-color: #b4bcc8 !default;

// Home
$home-header-bg: #364150 !default;
$home-header-color: #b4bcc8 !default;
$home-header-color-important: $color-white !default;

// react-tabs
$tab-border-color: #aaa !default;
$tab-border-color--hover: null !default;
$tab-border-color--selected: #024783 !default;
$tab-border-color--selected--hover: null !default;
$tab-bg-color: $color-silver !default;
$tab-bg-color--hover: $tab-border-color !default;
$tab-bg-color--selected: #0275d8 !default;
$tab-bg-color--selected--hover: $tab-border-color--selected !default;
$tab-color: null !default;
$tab-color--hover: $tab-color !default;
$tab-color--selected: $color-white !default;
$tab-color--selected--hover: null !default;

// stylelint-enable
