
extends ../../../../components/form/layouts/layout-form-filter-inline


block children
  -const inputText = '<div class="af-form__text"><input class="af-form__input-text af-form__input-text--hasinfobulle" id="inputtext1" name="inputtextname" type="text" /><button class="btn af-btn af-btn--ok">OK</button><small class="af-form__help">Aide à la saisie</small></div>';
  -const text = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id impedit aliquam soluta optio in beatae repudiandae tempore libero a expedita ullam minima, illum ipsam tempora omnis! Similique quibusdam fugit et.';
  -const listAccordion = [{title:"Socle de garantie", id:"One", active: true, content: text},{title:"N° contrat", id:"Two", content:text}, {title:"Application", id:"Three", active:true, content:inputText}, {title:"Imprimé", id:"Four", content:inputText}];

  .af-filter-inline
    span.af-filter-inline__title
      include ../../../guidelines/icones/templates/filter.pug
      span.af-filter-inline__title-text Filtrer par
    .af-filter-inline__field
      label.af-form__group-label(for="inputtext1") Numéro de contrat
      .af-form__text
        input.af-form__input-text#inputtext1(name="inputtextname" type="text")
    .af-filter-inline__field
      label.af-form__group-label(for="select1") Site
      .af-form__select
        .af-form__select-container
          select.af-form__input-select#select1(name="selectname")
            option(value="0") -Sélectionner-
            option(value="1") Option 1
            option(value="2") Option 2
            option(value="3") Option 3
            option(value="4") Option 4
          include ../../../guidelines/icones/templates/menu-down.pug
    .af-filter-inline__field
      label.af-form__group-label(for="select2") Décision
      .af-form__select
        .af-form__select-container
          select.af-form__input-select#select2(name="selectname")
            option(value="0") -Sélectionner-
            option(value="1") Option 1
            option(value="2") Option 2
            option(value="3") Option 3
            option(value="4") Option 4
          include ../../../guidelines/icones/templates/menu-down.pug
    .af-filter-inline__field
      label.af-form__group-label(for="inputtext2") Autre champ
      .af-form__text
        input.af-form__input-text#inputtext2(name="inputtextname" type="text")
    .af-filter-inline__field
      label.af-form__group-label Statut du dossier
      .af-form__checkbox-custom
        input.af-form__input-checkbox#checkbox1(name="checkboxname" type="checkbox")
        label.af-form__label(for="checkbox1")
          span.af-form__indicator
            include ../../../guidelines/icones/templates/ok.pug
          span.af-form__description Transmis
