
.#{$prefix}-demo{
  &--pageform{
    .#{$prefix}-demo__display{
      &--fullscreen{
        .#{$prefix}-demo{
          &__template{
            padding: 0;
          }
        }
      }
    }
    .#{$prefix}-demo__template{      
      background: $white;
      padding: 1em;      
    }
  }
}