extends ../../commons/layout

block meta
  -const { metatitle, metadescription, metakeywords, items } = require('../src/pages/guidelines/meta.json')
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../'

block menu
  +MenuGuidelines({ activePath:'/guidelines' })

block headerlinks
  +Headerlinks({ activePath:'/guidelines' })

block page
  +PageTitle({ title: 'Guidelines' })
  +PageContent()
    +Cards({ items })
