@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.af-status {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .glyphicon {
    margin: 0 1rem;
    font-size: 0.75rem;
  }
}
