@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.af-link {
  color: $color-azur;

  &--hasIconLeft,
  &--hasIconRight {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    .glyphicon {
      font-size: 0.9em;
      width: 17px;
    }

    &:hover {
      text-decoration: none;

      .af-link__text {
        text-decoration: underline;
      }
    }
  }

  &--hasIconLeft {
    .glyphicon {
      margin-right: 0.3rem;
    }
  }

  &--hasIconRight {
    .glyphicon {
      margin-left: 0.3rem;
    }
  }
}
