include ./social.pug
-const modifier = menuState === undefined ? 'opened' : menuState
-const classComponent = `${setClass('footer-client', modifier, true)}`

footer(class=classComponent)
  .af-footer-client__top
    .af-container
      .af-footer-client__top-container
        .af-footer-client__column
          h3.af-footer-client__column-title Ressources
          ul.af-footer-client__column-items
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="https://www.sketch.com/s/2ac5fa1d-6be5-4677-923a-c3e7aff0ac24" target="blank" rel="noopener noreferrer") Sketch
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="https://axaguildev.github.io/react-toolkit/latest" target="blank" rel="noopener noreferrer") Storybook
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="https://dev.azure.com/axaguildev/react-toolkit/"  target="blank" rel="noopener noreferrer") Pipeline
        .af-footer-client__column
          h3.af-footer-client__column-title Axa & You
          ul.af-footer-client__column-items
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="https://recrutement.axa.fr/" target="blank" rel="noopener noreferrer") Recrutement
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="https://medium.com/just-tech-it-now" target="blank" rel="noopener noreferrer") Blog
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="https://github.com/axa-group"  target="blank" rel="noopener noreferrer") Axa Group
        .af-footer-client__column
          h3.af-footer-client__column-title Communauté
          ul.af-footer-client__column-items
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="https://axaguildev.github.io/" target="blank" rel="noopener noreferrer") Open Source
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="https://github.com/AxaGuilDEv/" target="blank" rel="noopener noreferrer") Github
            li.af-footer-client__column-item
              a.af-footer-client__column-link(href="https://www.npmjs.com/search?q=%40axa-fr" target="blank" rel="noopener noreferrer") Npm
        +FooterSocial({ instagram: false })
include ./bottom.pug
