mixin FooterSocial({ facebook = true, linkedin = true, youtube = true, instagram = true, twitter = true })
  .af-footer-client__column
    h3.af-footer-client__column-title Suivre AXA
    ul.af-footer-client__column-items
      ul.social-network__list
        if facebook
          li.social-network__item
            a.social-network__link(href="https://www.facebook.com/axafrance" target="blank" rel="noopener noreferrer")
              include ../../pages/guidelines/icones/templates/facebook.pug
        if linkedin
          li.social-network__item
            a.social-network__link(href="https://www.linkedin.com/company/237118/" target="blank" rel="noopener noreferrer")
              include ../../pages/guidelines/icones/templates/linkedin-logo.pug
        if youtube
          li.social-network__item
            a.social-network__link(href="https://www.youtube.com/user/AXAFranceChaine" target="blank" rel="noopener noreferrer")
              include ../../pages/guidelines/icones/templates/youtube-symbol.pug
        if instagram
          li.social-network__item
            a.social-network__link(href="instagram" target="blank" rel="noopener noreferrer")
              include ../../pages/guidelines/icones/templates/instagram.pug
        if twitter
          li.social-network__item
            a.social-network__link(href="https://twitter.com/GuildDEvOpen" target="blank" rel="noopener noreferrer")
              include ../../pages/guidelines/icones/templates/twitter-logo-silhouette.pug
