$light-grey: #f9f9f9;
.#{$prefix} {
  &-demo {
    padding: 0 0 2em 0;
    margin-bottom: 2em;

    &__icon {
      height: 25px;
      width: 25px;
      cursor: pointer;
      opacity: 0.1;
    }

    &__display {
      /* height: 500px; */
      overflow-y: auto;
      padding: 2em;
      background-color: $white;
      border: 1px solid $color-mercury;
      background-image: linear-gradient(
          45deg,
          $light-grey 25%,
          transparent 25%,
          transparent 75%,
          $light-grey 75%,
          $light-grey
        ),
        linear-gradient(
          45deg,
          $light-grey 25%,
          transparent 25%,
          transparent 75%,
          $light-grey 75%,
          $light-grey
        );
      background-size: 20px 20px;
      background-position: 0 0, 10px 10px;
      position: relative;

      &--high {
        height: 500px;
        .#{$prefix}-demo__iframe {
          height: 500px;
        }
      }

      &--fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background: white;
        width: 100%;
        height: 100%;
        padding: 0;

        .#{$prefix} {
          &-icon {
            &--demo-open {
              display: none;
            }

            &--demo-close {
              display: block;
              fill: $white;
              position: fixed;
            }
          }
        }
      }
    }

    &__iframe {
      &--high {
        height: 500px;
      }
      &--storybook {
        height: 1000px;
        html,
        body {
          overflow: auto;
        }
      }

      border: 1px solid $color-mercury;
      width: 100%;
    }

    &__css {
      height: 500px;
    }
  }

  &-title {
    &--demo {
      font-size: 1.8rem;
      margin-bottom: 1.3rem;
      display: block;
      letter-spacing: -1px;
      border-bottom: 1px solid $color-gray-1;
      padding-bottom: 0.7rem;
    }
  }

  &-icon {
    &--demo {
      width: 25px;
      cursor: pointer;
      fill: $color-scorpion;
      margin-right: 1rem;
    }

    &--demo-open,
    &--demo-close {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 5px;
      top: 5px;
      cursor: pointer;
      z-index: 2;
      background: $color-axa;
      padding: 5px;
      fill: $white;
      border-radius: 5px;
    }

    &--demo-close {
      background: rgba(0, 0, 0, 0.5);
      display: none;
    }
  }
}
