
extends ../../../../commons/layout

block vars
  - var id = "iframe"

block meta
  -var activePath = '/organisms/modal';
  -var basedir='../../../'

block page
  style.
    .tk-header, .tk-footer {
      display: none;
    }
  include ./modal-large
