.af-modal.af-modal--sm
  .af-modal__dialog
    .af-modal__content
      .af-modal__header
        h4.af-modal__header-title Titre de la modal
        button.af-modal__header-close-btn(type="button" aria-label="Close")
          i.glyphicon.glyphicon-close(aria-hidden="true")
      .af-modal__body
        p Reprehenderit sit quis aute nisi consequat consequat mollit. Commodo in aliquip consectetur nulla sit anim. Pariatur minim commodo enim ea eu laborum culpa laboris. Labore labore irure ipsum consequat enim officia anim ipsum aliqua excepteur qui sint. Duis sint do culpa adipisicing dolor adipisicing ea dolore aute nisi quis ullamco aliquip occaecat. Aute ut mollit amet.
      .af-modal__footer
        button.btn.af-btn(type="button") Valider
.af-modal__backdrop.show
