.af-form__group.row
  .col-md-2
    label.af-form__group-label(for="slider") Slider *
  .col-md-10
    .af-form__slider
      .rc-slider.rc-slider-with-marks
        .rc-slider-rail
          .rc-slider-track(style="visibility: visible; left: 0%; width: 66.6667%;")
          .rc-slider-step
            span.rc-slider-dot.rc-slider-dot-active(style="left: 0%;")
            span.rc-slider-dot.rc-slider-dot-active(style="left: 33.3333%;")
            span.rc-slider-dot.rc-slider-dot-active(style="left: 66.6667%;")
            span.rc-slider-dot(style="left: 100%;")
          .rc-slider-handle(role="slider" tabindex="0" aria-valuemin="0" aria-valuemax="3" aria-valuenow="2" aria-disabled="false" style="left: 66.6667%;")
          .rc-slider-mark
            span.rc-slider-mark-text.rc-slider-mark-text-active(style="width: 30%; margin-left: -15%; left: 0%;") VERY BAD
            span.rc-slider-mark-text.rc-slider-mark-text-active(style="width: 30%; margin-left: -15%; left: 33.3333%;") BAD
            span.rc-slider-mark-text.rc-slider-mark-text-active(style="width: 30%; margin-left: -15%; left: 66.6667%;") NICE
            span.rc-slider-mark-text(style="width: 30%; margin-left: -15%; left: 100%;") VERY NICE
