// stylelint-disable color-no-hex
// bootstrap
$table-inverse-color: #fff !default;
$gray: #464a4c !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
$gray-dark: #292b2c !default;
// primary
$color-axa: #00008f !default;
$color-azur: #3032c1;
$color-action-1: #70709a;
$color-action-2: #d3d3e7;
$color-texte: #333;
$color-gray-1: #ccc;
$color-gray-2: #e5e5e5;
$color-gray-3: #f5f5f5;
$color-white: #fff;
$color-red-error: #f02849;
// secondary
$color-red-1: #a70d26;
$color-red-2: #e992a1;
$color-red-3: #f9bcc6;
$color-red-4: #debbc1;
$color-flamingo: #ec4d33;
$color-burnt-sienna: #f07662;
$color-green-1: #1cc578;
$color-green-2: #10a992;
$color-green-3: #3db899;
$color-green-4: #18a854;
$color-green-5: #bdeccb;
$color-green-6: #a4cdb1;
$color-blue-1: #49bdca;
$color-blue-2: #3fa7b3;
$color-mauve-1: #4972ca;
$color-mauve-2: #375db0;
$color-yellow-1: #c78e13;
$color-yellow-2: #f1d596;
$color-yellow-3: #c8b282;
// theme
$color-auto: #a70d26 !default;
$color-habitation: #ec4d33 !default;
$color-sante: #1cc578 !default;
$color-collective: #49bdca !default;
$color-loisirs: #00af8f !default;
$color-banque: #51aad3 !default;
$color-epargne: #6377ba !default;
$color-entreprise: #5e3778 !default;
$color-iard: #42145f !default;
$color-patrimonial: #c5a57f !default;
$color-pros: #738b9c !default;
$color-assurbanque: #ff1821 !default;
// components
$color-alertSucces-leftBgColor: #38a758;
$color-alertSucces-bgColor: #bdeccb;
$color-alertSucces-colorBorder: #a1cbae;
$color-alertSucces-textColor: #146a2d;
$color-alertInfo-leftBgColor: #0b99bf;
$color-alertInfo-bgColor: #97d3e3;
$color-alertInfo-colorBorder: #78b2c1;
$color-alertInfo-textColor: #1b6a7f;
$color-alertDanger-leftBgColor: #c78e13;
$color-alertDanger-bgColor: #f1d596;
$color-alertDanger-colorBorder: #c8b282;
$color-alertDanger-textColor: #805b0a;
$color-alertError-leftBgColor: #a70d26;
$color-alertError-bgColor: #ffd5dc;
$color-alertError-colorBorder: #debbc1;
$color-alertError-textColor: #a02237;
$color-btn-success: #1cc578;
$color-btn-success-dark: #0d844e;
$color-btn-danger: #f02849;
$color-btn-danger-dark: #8f182c;
$color-btn-disabled: #c9c9c9;
$card-white: #fff !default;
$card-grey-light: #f5f5f5 !default;
$card-border-grey: #dbdbdb !default;
$card-blue-active: #3032c1 !default;
$card-header: #ccc !default;
$card-text-color: #4d4d4d !default;
$card-bg-disabled: #e5e5e5 !default;
$color-table-sorting: #20a892;
$color-pager-link: #4d4d4d;
$color-accordion-custom: #49bdca;
$color-accordeon-border-collapse: #eee;
$color-tabs-item: #ccc;
$color-tabs-link: #6e6e6e;
$color-tabs-content: #c0c0c0;
$color-tabs-disabled: #ccc;
$color-tabs-disabled-button: #333;
$color-filter-selected-background: #ccc;
$color-filter-selected-text: #333;
$color-filter-selected-glyphicon-close: #696868;
$error-custom-bg: #ffbfbf !default;
$error-custom-border: #d18e8e !default;
$border-bottom-header: #979797;
$brand-primary: #00008f !default;
$color-highlightpink: #d52861;
// others
$color-red-axa: #ff1721 !default;
$color-gray-contract: #c4c4c4 !default;
$color-deep-sapphire: #00005b;
$color-st-tropaz: #2425aa;
$color-dark-indigo: #3b3fd8;
$color-blue-lighter: #494df4;
$color-blue-alert: #30b8dc;
$color-blue-alert-dark: #218eab;
$color-pink: #fe3951;
$color-pink-dark: #c0203a;
$color-orange: #f1b531;
$color-orange-dark: #c5901b;
$color-mine-shaft: #333;
$color-scorpion: #333;
$color-gray: #7f7f7f;
$color-dusty-gray: #999;
$color-silver: #ccc;
$color-mercury: #e5e5e5;
$color-wild-sand: #f5f5f5;
$color-alabaster: #fafafa;
$color-malachite: #1cc54e;
$color-malachite-light: #3db899;
$color-malachite-dark: #2b8c47;
