// stylelint-disable color-no-hex
// bootstrap
$table-inverse-color: #fff !default;
$gray: #464a4c !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
$gray-dark: #292b2c !default;
// primary
$color-axa: #00008f !default;
$color-azur: #3032c1 !default;
$color-action-1: #70709a !default;
$color-action-2: #d3d3e7 !default;
$color-texte: #333 !default;
$color-gray-1: #ccc !default;
$color-gray-2: #e5e5e5 !default;
$color-gray-3: #f5f5f5 !default;
$color-white: #fff !default;
$color-red-error: #f02849 !default;
// secondary
$color-red-1: #a70d26 !default;
$color-red-2: #e992a1 !default;
$color-red-3: #f9bcc6 !default;
$color-red-4: #debbc1 !default;
$color-flamingo: #ec4d33 !default;
$color-burnt-sienna: #f07662 !default;
$color-green-1: #1cc578 !default;
$color-green-2: #10a992 !default;
$color-green-3: #3db899 !default;
$color-green-4: #18a854 !default;
$color-green-5: #bdeccb !default;
$color-green-6: #a4cdb1 !default;
$color-blue-1: #49bdca !default;
$color-blue-2: #3fa7b3 !default;
$color-mauve-1: #4972ca !default;
$color-mauve-2: #375db0 !default;
$color-yellow-1: #c78e13 !default;
$color-yellow-2: #f1d596 !default;
$color-yellow-3: #c8b282 !default;
// theme
$color-auto: #a70d26 !default;
$color-habitation: #ec4d33 !default;
$color-sante: #1cc578 !default;
$color-collective: #49bdca !default;
$color-loisirs: #00af8f !default;
$color-banque: #51aad3 !default;
$color-epargne: #6377ba !default;
$color-entreprise: #5e3778 !default;
$color-iard: #42145f !default;
$color-patrimonial: #c5a57f !default;
$color-pros: #738b9c !default;
$color-assurbanque: #ff1821 !default;
// components
$color-alertSucces-leftBgColor: #38a758 !default;
$color-alertSucces-bgColor: #bdeccb !default;
$color-alertSucces-colorBorder: #a1cbae !default;
$color-alertSucces-textColor: #146a2d !default;
$color-alertInfo-leftBgColor: #0b99bf !default;
$color-alertInfo-bgColor: #97d3e3;
$color-alertInfo-colorBorder: #78b2c1 !default;
$color-alertInfo-textColor: #1b6a7f !default;
$color-alertDanger-leftBgColor: #c78e13 !default;
$color-alertDanger-bgColor: #f1d596 !default;
$color-alertDanger-colorBorder: #c8b282 !default;
$color-alertDanger-textColor: #805b0a !default;
$color-alertError-leftBgColor: #a70d26 !default;
$color-alertError-bgColor: #ffd5dc;
$color-alertError-colorBorder: #debbc1 !default;
$color-alertError-textColor: #a02237 !default;
$color-btn-success: #1cc578 !default;
$color-btn-success-dark: #0d844e !default;
$color-btn-danger: #f02849 !default;
$color-btn-danger-dark: #8f182c !default;
$color-btn-disabled: #c9c9c9 !default;
$card-white: #fff !default;
$card-grey-light: #f5f5f5 !default;
$card-border-grey: #dbdbdb !default;
$card-blue-active: #3032c1 !default;
$card-header: #ccc !default;
$card-text-color: #4d4d4d !default;
$card-bg-disabled: #e5e5e5 !default;
$color-table-sorting: #20a892 !default;
$color-pager-link: #4d4d4d !default;
$color-accordion-custom: #49bdca !default;
$color-accordeon-border-collapse: #eee !default;
$color-tabs-item: #ccc !default;
$color-tabs-link: #6e6e6e !default;
$color-tabs-content: #c0c0c0 !default;
$color-tabs-disabled: #ccc !default;
$color-tabs-disabled-button: #333 !default;
$color-filter-selected-background: #ccc !default;
$color-filter-selected-text: #333 !default;
$color-filter-selected-glyphicon-close: #696868 !default;
$error-custom-bg: #ffbfbf !default;
$error-custom-border: #d18e8e !default;
$border-bottom-header: #979797 !default;
$brand-primary: #00008f !default;
$color-highlightpink: #d52861 !default;
// others
$color-red-axa: #ff1721 !default;
$color-gray-contract: #c4c4c4 !default;
$color-deep-sapphire: #00005b !default;
$color-st-tropaz: #2425aa !default;
$color-dark-indigo: #3b3fd8 !default;
$color-blue-lighter: #494df4 !default;
$color-blue-alert: #30b8dc !default;
$color-blue-alert-dark: #218eab !default;
$color-pink: #fe3951 !default;
$color-pink-dark: #c0203a !default;
$color-orange: #f1b531 !default;
$color-orange-dark: #c5901b !default;
$color-mine-shaft: #333 !default;
$color-scorpion: #333 !default;
$color-gray: #7f7f7f !default;
$color-dusty-gray: #999 !default;
$color-silver: #ccc !default;
$color-mercury: #e5e5e5 !default;
$color-wild-sand: #f5f5f5 !default;
$color-alabaster: #fafafa !default;
$color-malachite: #1cc54e !default;
$color-malachite-light: #3db899 !default;
$color-malachite-dark: #2b8c47 !default;
