@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.react-select > div:nth-of-type(2) {
  z-index: 2;
}

.af-form__select {
  &--error {
    .react-select > div {
      border-color: $color-red-axa;
    }
  }
  &--warning {
    .react-select > div {
      border-color: $color-orange-dark;
    }
  }
}

