.af-form__group.af-form__group--label-top.row
  .col-md-2
    label.af-form__group-label Classic radios
  .col-md-10
    .af-form__radio.af-form__radio--success
      input.af-form__input-radio#radio5(name="radioname3" type="radio")
      label.af-form__label(for="radio5")
        span.af-form__description lorem ipsum dolor sit amet
    .af-form__radio.af-form__radio--success
      input.af-form__input-radio#radio6(name="radioname3" type="radio")
      label.af-form__label(for="radio6")
        span.af-form__description Nam sem nisi, auctor sit amet massa sit amet
    .af-form__radio.af-form__radio--success
      input.af-form__input-radio#radio7(name="radioname3" type="radio")
      label.af-form__label(for="radio7")
        span.af-form__description Ut sollicitudin eleifend tincidunt
