.af-form__group.row
  .col-md-2
    label.af-form__group-label Inline radios
  .col-md-10
    .af-form__radio-inline
      input.af-form__input-radio#radio3(name="radioname2" type="radio")
      label.af-form__label(for="radio3")
        span.af-form__description Option 1
    .af-form__radio-inline
      input.af-form__input-radio#radio4(name="radioname2" type="radio")
      label.af-form__label(for="radio4")
        span.af-form__description Option 2
    .af-form__radio-inline.af-form__radio-inline--disabled
      input.af-form__input-radio#radio41(name="radioname2" type="radio" disabled)
      label.af-form__label(for="radio41")
        span.af-form__description Option disabled
