.af-form__group.row
  .col-md-2
    label.af-form__group-label Custom radios *
  .col-md-10
    .af-form__radio-custom.af-form__radio-custom--error
      input.af-form__input-radio#radio1(name="radioname" type="radio")
      label.af-form__label(for="radio1")
        span.af-form__description Option 1
    .af-form__radio-custom.af-form__radio-custom--error
      input.af-form__input-radio#radio2(name="radioname" type="radio")
      label.af-form__label(for="radio2")
        span.af-form__description Option 2
    small.af-form__message.af-form__message--error
      span.glyphicon.glyphicon-exclamation-sign
      span.af-form__error-text Message d'erreur
