extends ../../../../components/form/layouts/layout-form-textarea
include ../../../../components/form/mixins/mixin-form-field-text

block label
  label.af-form__group-label(for="inputtext1") Input File *

block input
  .af-form__file-input
    #uniqueid.drop-box.hidden-mobile(style='position: relative;' aria-disabled='false')
      div Glissez/d&eacute;posez vos fichiers
      input(accept='image/jpeg, image/png, application/*' type='file' style='position: absolute; inset: 0px; opacity: 0.00001; pointer-events: none;' autocomplete='off' name='placeImage')
    button.af-btn.af-btn--file.af-btn--hasiconLeft(type='button')
      include ../../../style/icons/templates/open.pug
      |  Parcourir
  small.af-form__help Enter the place name, ex : Webcenter
  .custom-table-file.af-file-table
    .af-form__file-errors
      span Le chargement de certains fichiers a &eacute;chou&eacute; :
      ul.af-form__file-errors-list
        li refused-extension-file.svg (100ko)
        li too-big-file.jpg (100Mo)
        li error-file.jpg (100Mo)
    ul.af-form__file-list
      li.af-form__file-line
        span
          .af-popover__container
            .af-popover__container-over(role='presentation')
              include ../../../style/icons/templates/picture.pug
        span error-file.jpg
        span 100Mo
        button.af-link.af-link--delete-file(type='button')
          span.af-link__text Supprimer
      li.af-form__file-line
        span
          .af-popover__container
            .af-popover__container-over(role='presentation')
              include ../../../style/icons/templates/picture.pug
        span fichier.png
        span 100Mo
        button.af-link.af-link--delete-file(type='button')
          span.af-link__text Supprimer
      li.af-form__file-line
        include ../../../style/icons/templates/file.pug
        span fichier.csv
        span 100ko
        button.af-link.af-link--delete-file(type='button')
          span.af-link__text Supprimer


