.#{$prefix} {
  &-header {
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background: $color-marine;
    &--opened {
      z-index: 10;
    }

    &__links {
      display: flex;
      align-items: center;

      .#{$prefix}-img {
        height: 25px;
        margin: 0 0.5rem;
      }

      > p {
        display: inline-flex;
        align-items: center;
      }
    }
  }
}
