.#{$prefix} {
  &-header {
    position: sticky;
    top: 0;
    z-index: 5;
    background: $white;
    width: 100%;
    border-bottom: 1px solid $color-gray-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    &__links {
      display: flex;
      align-items: center;
      img {
        max-height: 25px;
        margin: 0 0.5rem;
      }
      > p {
        display: inline-flex;
        align-items: center;
      }
    }
  }
}
