extends ../../../commons/layout

block meta
  -var activePath = '/patterns/regressive-actions'
  -const { metatitle, metadescription, metakeywords } = require(`../src/pages${activePath}/meta.json`)
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../../'

block menu
  +MenuPatterns({ activePath })

block headerlinks
  +Headerlinks({ activePath:'/patterns' })

block page
  +PageTitle({ title: 'Actions régressives' })
  +PageContent()
    +PageMarkdown()
      include:markdown-it(html) ./markdown/content.md
