extends ../../../commons/layout

block meta
  -const { metatitle, metadescription, metakeywords } = require('../src/pages/patterns/overtaking/meta.json')
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../../'

block menu
  +MenuPatterns({ activePath:'/patterns/overtaking' })

block headerlinks
  +Headerlinks({ activePath:'/patterns' })

block page
  +PageTitle({ title: 'Dépassement' })
  +PageContent()
    +PageMarkdown()
      include:markdown-it(html) ./markdown/content.md
