.af-steps-new
  ol.af-steps-list
    li.af-steps-list-step.on(title="Etape 1")
      .af-steps-list-stepLabel
        .af-steps-list-stepNumber 1
        .af-steps-list-stepTitle Current step
        i.glyphicon.glyphicon-arrow-rounded-right
    li.af-steps-list-step.disabled(title="Etape 2")
      .af-steps-list-stepLabel
        .af-steps-list-stepNumber 2
        .af-steps-list-stepTitle Next step
        i.glyphicon.glyphicon-arrow-rounded-right
    li.af-steps-list-step.disabled(title="Etape finale")
      .af-steps-list-stepLabel
        .af-steps-list-stepNumber &nbsp;
          i.glyphicon.glyphicon-ok
        .af-steps-list-stepTitle Confirmation
