extends ../../../../components/form/layouts/layout-form-textarea
include ../../../../components/form/mixins/mixin-form-field-checkbox

block label
  label.af-form__group-label Classic checkbox

block input
  +formFieldCheckbox({id:"1", name:"classic", label: "lorem ipsum dolor sit amet"})
  +formFieldCheckbox({id:"2", name:"classic", label: "Nam sem nisi, auctor sit amet massa sit amet"})
  +formFieldCheckbox({id:"3", name:"classic", label: "Ut sollicitudin eleifend tincidunt"})
  +formFieldCheckbox({id:"4", name:"classic", label: "disabled", disabled: true, modifier:'disabled'})
