extends ../../../../components/form/layouts/layout-form-textarea
include ../../../../components/form/mixins/mixin-form-field-checkbox

block label
  label.af-form__group-label Inline checkbox

block input
  +formFieldCheckbox({className:'af-form__checkbox-inline', id:"25", name:"classic", label: "Check 1"})
  +formFieldCheckbox({className:'af-form__checkbox-inline', id:"26", name:"classic", label: "Check 2"})
  +formFieldCheckbox({className:'af-form__checkbox-inline', id:"27", name:"classic", label: "Check 3"})
  +formFieldCheckbox({className:'af-form__checkbox-inline', id:"28", name:"classic", label: "Disabled", disabled: true, modifier:'disabled'})
