extends ../../../../components/form/layouts/layout-form-textarea
include ../../../../components/form/mixins/mixin-form-field-checkbox

block label
  label.af-form__group-label Inline checkbox

block input
  +formFieldCheckbox({className:'af-form__checkbox-inline', id:"29", name:"classic", label: "Check 1", modifier:'success'})
  +formFieldCheckbox({className:'af-form__checkbox-inline', id:"30", name:"classic", label: "Check 2", modifier:'success'})
  +formFieldCheckbox({className:'af-form__checkbox-inline', id:"31", name:"classic", label: "Check 3", modifier:'success'})
  +formFieldCheckbox({className:'af-form__checkbox-inline', id:"32", name:"classic", label: "Disabled", disabled: true, modifier:'disabled'})
