extends ../../../../components/form/layouts/layout-form-textarea
include ../../../../components/form/mixins/mixin-form-field-checkbox

block label
  label.af-form__group-label Classic checkbox

block input
  +formFieldCheckbox({className:'af-form__checkbox-custom', id:"17", name:"classic", label: "Check 1", modifier:'success'})
  +formFieldCheckbox({className:'af-form__checkbox-custom', id:"18", name:"classic", label: "Check 2", modifier:'success'})
  +formFieldCheckbox({className:'af-form__checkbox-custom', id:"19", name:"classic", label: "Check 3", modifier:'success'})
  +formFieldCheckbox({className:'af-form__checkbox-custom', id:"20", name:"classic", label: "Disabled", disabled: true, modifier:'disabled'})
