extends ../../../../components/form/layouts/layout-form-textarea
include ../../../../components/form/mixins/mixin-form-field-checkbox
include ../../../../components/form/mixins/mixin-form-message

block label
  label.af-form__group-label Classic checkbox

block input
  +formFieldCheckbox({className:'af-form__checkbox-custom', id:"21", name:"classic", label: "Check 1", modifier:'error'})
  +formFieldCheckbox({className:'af-form__checkbox-custom', id:"22", name:"classic", label: "Check 2", modifier:'error'})
  +formFieldCheckbox({className:'af-form__checkbox-custom', id:"23", name:"classic", label: "Check 3", modifier:'error'})
  +formFieldCheckbox({className:'af-form__checkbox-custom', id:"24", name:"classic", label: "Check 4", modifier:'error'})
  +formMessage({modifierMessage: 'error', textMessage:"Message d'erreur", iconMessage: 'exclamation-sign'})

