extends ../../../../components/form/layouts/layout-form-textarea
include ../../../../components/form/mixins/mixin-form-field-checkbox
include ../../../../components/form/mixins/mixin-form-message

block label
  label.af-form__group-label Classic checkbox

block input
  +formFieldCheckbox({id:"9", name:"classic", label: "lorem ipsum dolor sit amet", modifier:'error'})
  +formFieldCheckbox({id:"10", name:"classic", label: "Nam sem nisi, auctor sit amet massa sit amet", modifier:'error'})
  +formFieldCheckbox({id:"11", name:"classic", label: "Ut sollicitudin eleifend tincidunt", modifier:'error'})
  +formFieldCheckbox({id:"12", name:"classic", label: "eleifend", modifier:'error'})
  +formMessage({modifierMessage: 'error', textMessage:"Message d'erreur", iconMessage: 'exclamation-sign'})
