h3.af-subtitle Classic List
ul.af-list
  li.af-list__item Samuel Martineau
  li.af-list__item Guillaume Chervet
  li.af-list__item Samuel Gomez
  li.af-list__item Jean-Baptiste Rudant
  li.af-list__item Romain Petigny
