.af-list {
  &--check {
    list-style: none;
    padding-left: 1rem;

    .af-list__item {
      margin-bottom: .5rem;
      display: flex;
    }

    .glyphicon-ok {
      margin: .5rem .5rem 0 0;
      color: $color-malachite;
    }
  }
}
