@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.af-list {
  &--check {
    list-style: none;
    padding-left: 1rem;

    .af-list__item {
      margin-bottom: 0.5rem;
      display: flex;
    }

    .glyphicon-ok {
      margin: 0.5rem 0.5rem 0 0;
      color: $color-malachite;
    }
  }
}
