extends ../../../commons/layout

block vars
  - var id = "github"

block meta
  -const { metatitle, metadescription, metakeywords } = require('../src/pages/get-started/meta.json')
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../../'

block menu
  +MenuGetstarted({ activePath:'/get-started/github' })

block headerlinks
  +Headerlinks({ activePath:'/get-started' })

block page
  +PageTitle({ title: 'Github' })
  +PageContent()
    +PageMarkdown()
      include:markdown-it(html) ./markdown/content.md
