extends ../../../commons/layout

block meta
  -var activePath = '/organisms/form-card';
  -const { metatitle, metadescription, metakeywords, github, storybook, badge, colors } = require(`../src/pages${activePath}/data.json`)
  -var sassPath = 'react-toolkit-form-input-card/dist/card.scss'
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../../'

block vars
  - var id = "component"

block menu
  +Menu({ activePath })

block page
  +PageTitle({ title: 'Form Card', subtitle: 'Organisms' })
  .tk-page__links
    +PageSummary()
    +PageLinks({github, storybook, badge})
  +PageContentComponent()
    block guidelines
      +PageMarkdown()
        include:markdown-it ./markdown/guidelines.md
    block code
      +Demo({ title:'Classic Form Card Checkbox', storybook, activePath, tmpl: 'form-card', modifier: 'forminputtext',  sassPath })
      +Demo({ title:'Classic Form Card Checkbox disabled', storybook, activePath, tmpl: 'form-card-disabled', modifier: 'forminputtext',  sassPath })
      +Demo({ title:'Classic Form Card Radio', storybook:"form-input-card--cardgroupradio-with-one-card", activePath, tmpl: 'form-card-radio', modifier: 'forminputtext',  sassPath })
      +Demo({ title:'Classic Form Card Radio active', storybook:"form-input-card--cardgroupradio-with-one-card", activePath, tmpl: 'form-card-active', modifier: 'forminputtext',  sassPath })
      +Demo({ title:'Classic Form 2 Cards Radio', storybook:"form-input-card--cardgroupradio-with-two-radio-cards", activePath, tmpl: 'form-card-group-two', modifier: 'forminputtext',  sassPath })
      +Demo({ title:'Classic Form 3 Cards Radio', storybook:"form-input-card--cardgroupcheckbox-with-three-cards", activePath, tmpl: 'form-card-group-three', modifier: 'forminputtext',  sassPath })
      +Demo({ title:'Classic Form 4 Cards Radio', storybook:"form-input-card--cardgroupcheckbox-with-three-cards", activePath, tmpl: 'form-card-group-four', modifier: 'forminputtext',  sassPath })
    block style
      +Colors({ colors })
      +PageMarkdown()
        include:markdown-it ./markdown/style.md
