.af-paging
  .af-paging__limit
    form.af-paging__form
      .af-form__group
        .col.col-sm-2.col-md-2.col-lg-2.col-xl-2
          label.af-form__group-label(for="pagination") Afficher
        .col.col-sm-10.col-md-10.col-lg-10.col-xl-10
          .af-form__select
            .af-form__select-container
              select.af-form__input-select
                each option in [5, 10, 15, 20]
                  option(value=option) #{option}
              span.glyphicon.glyphicon-menu-down
            span.af-form__input-cmplt éléments
  .af-paging__pager
    include ../../../molecules/pager/templates/classic.pug
