@import 'bootstrap/scss/bootstrap';
@import '../variables.scss';
@import '../Code/Code.scss';
@import '@axa-fr/react-toolkit-core/src/common/scss/_custom-af.scss';
@import '@axa-fr/react-toolkit-table/dist/table.scss';
@import '@axa-fr/react-toolkit-table/dist/Pager/pager.scss';
@import '@axa-fr/react-toolkit-table/dist/Paging/paging.scss';

.af-home {
  text-align: center;

  &-logo {
    margin-top: 3rem;
  }

  &-title {
    border: 0;
    font-size: 2rem;
    margin: 1rem auto;
    position: relative;
    padding: 2rem 0 0 0;
    font-weight: 900;

    &::after {
      content: '';
      position: absolute;
      width: 5rem;
      height: 1px;
      bottom: -1rem;
    }
  }

  &-header {
    margin-top: 1rem;
    background: $home-header-bg;
    color: $home-header-color-important;

    &__intro {
      font-size: 1.2rem;
      max-width: 40%;
      padding: 1rem 0;
      margin: 0 auto;

      p {
        margin-bottom: 1rem;
        color: $home-header-color;
      }
    }
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 70%;
    padding: 3rem 0;
    margin: 0 auto;

    &__block {
      flex: 1;
      flex-wrap: wrap;
    }

    &__title {
      margin-bottom: 1rem;
    }
  }

  &-install {
    padding: 2rem;
    border-top: $bgColor 1px solid;
    max-width: 30%;
    margin: 0 auto;

    &__title {
      margin-bottom: 1rem;
    }
  }

  &-package {
    padding: 2rem;
    border-top: $bgColor 1px solid;
    max-width: 30%;
    margin: 0 auto;

    &__title {
      margin-bottom: 1rem;
    }

    span {
      display: block;
      text-align: left;
    }
  }

  &-archi {
    max-width: 70%;
    margin: 0 auto;
  }
}
