
@import '@axa-fr/react-toolkit-core/src/bootstrap/af-bootstrap.scss';
@import '@axa-fr/react-toolkit-title/dist/title.scss';
@import '@axa-fr/react-toolkit-button/dist/button.scss';
@import '@axa-fr/react-toolkit-form-core/dist/form.scss';
@import '@axa-fr/react-toolkit-form-input-text/dist/inputtext.scss';
@import '@axa-fr/react-toolkit-form-input-file/dist/filebrowser.scss';

.af-form {
  &__group {
    padding-bottom: 3rem;
    width: 100%;
    max-width: 700px;
  }

  &__filebrowser__listFiles {
    padding: 0;
    list-style: none;
  }

  &__filebrowser__file {
    display: block;
    padding: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $color-silver;

    .glyphicon {
      vertical-align: middle;

      &-ok-sign {
        color: $color-malachite;
      }

      &-remove-sign {
        color: $color-red-axa;
      }
    }

    &name {
      margin: 0 10px;
    }

    &delete {
      float: right;
      text-decoration: underline;
    }
  }

  &__filebrowser {
    .af-form__input-text {
      font-size: 0.9rem;
      line-height: 2rem;
    }
  }
}
