.af-form__group.row
  .col-md-2
    label.af-form__group-label(for="filebrowser") Input Filebrowser *
  .col-md-7
    .af-form__filebrowser
      input.af-form__input-filebrowser(type="file" name="filebrowser" placeholder="Browse...")
      label.af-form__input-filebrowser-label(for="filebrowser")
        span.af-form__input-text
        span.af-btn.af-btn--hasiconLeft
          span.glyphicon.glyphicon-open
          | Choose a file...
