.#{$prefix} {
  &-code {
    &__wrapper {
      &-outer {
        position: relative;
        height: 300px;
      }

      &-middle {
        position: absolute;
        width: 100%;
        overflow: hidden;
      }

      &-inner {
        height: 300px;
        display: flex;
        overflow: auto;
        background: $black;
      }
    }

    &__icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 15px;
      top: 15px;
      height: 39px;
      width: 50px;
      cursor: pointer;

      &--copied {
        fill: $color-btn-success;

        .#{$prefix}-code__icon-text {
          color: $color-btn-success;
        }
      }

      &-text {
        color: $black;
      }
    }
  }

  &-icon--copy {
    fill: $white;
  }
}
