extends ../../../commons/layout

block meta
  -var activePath = '/molecules/title-bar';
  -const { metatitle, metadescription, metakeywords, github, storybook, badge, colors } = require(`../src/pages${activePath}/data.json`)
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../../'

block vars
  - var id = "component"

block menu
  +Menu({ activePath })

block page
  +PageTitle({ title: 'TitleBar', subtitle: 'Molecule' })
  .tk-page__links
    +PageSummary()
    +PageLinks({github, storybook, badge})
  +PageContentComponent()
    block guidelines
      +PageMarkdown()
        include:markdown-it ./markdown/guidelines.md
    block code
      +Demo({ title:'Classic TitleBar', storybook, activePath, tmpl: 'title-bar' })
      +Demo({ title:'Complex TitleBar', storybook: 'layout-header-title--complex', activePath, tmpl: 'title-bar-complex' })
    block style
      +Colors({ colors })
      +PageMarkdown()
        include:markdown-it ./markdown/style.md
