extends ../../../commons/layout

block meta
	-const { metatitle, metadescription, metakeywords, github, storybook, badge } = require('../src/pages/molecules/title-bar/data.json')
	-var metaTitle = metatitle
	-var metaDescription = metadescription
	-var metaKeywords = metakeywords
	-var basedir='../../'

block vars	
	- var id = "component"

block menu
	+Menu({activePath:'/molecules/title-bar'})

block page
	include ../../../components/page/page-title
		append page-title
			+Title({level:"h1", modifier:""})
				| TitleBar
			+Title({level:"h2", modifier:""})
				| Molecule
	.tk-page__links
		+PageLinks({github, storybook, badge})
	include ../../../components/page/page-content
		block page-content
			div(class=`${prefix}-markdown`)
				include:markdown-it ./markdown/toneofvoice.md
			+Demo({ title:'Classic Title Bar'})
				block preview
					include ./templates/title-bar.pug
				block code
					-let htmlCode = pugg.compileFile('./src/pages/molecules/title-bar/templates/title-bar.pug')
					pre
						code.html
							| #{pretty(htmlCode())}
				block css
					pre
						code.css
							include:markdown-it ./markdown/importcss.md
			div(class=`${prefix}-markdown`)
				include:markdown-it ./markdown/usage.md
			p
				| hello style
			