@import 'bootstrap/scss/bootstrap';
@import '@axa-fr/react-toolkit-core/src/common/scss/_custom-af.scss';

html {
  overflow-x: hidden;
}

pre {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.sidebar {
  background: $gray-lighter;
}

.nav + .nav {
  margin-top: 1rem;
}

.col--toolkit {
  padding: 1.7rem 0 0 0;
}

.component {
  margin-top: 3rem;
  padding: 0 2rem;
}

.container {
  max-width: 100%;
}

@import '../NavBar/NavBar.scss';
