@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.af-popover__wrapper:has(.af-popover__container--short) {
  position: relative;
}

.af-popover__container--short {
  display: block;
  .af-popover__container-pop {
    word-break: break-word;
    width: 200px;
  }
}
