@import '../../../../../node_modules/react-datepicker/src/stylesheets/datepicker.scss';
@import '../../../../../node_modules/rc-slider/assets/index.css';
@import '@axa-fr/react-toolkit-core/src/bootstrap/af-bootstrap.scss';
@import '@axa-fr/react-toolkit-title/dist/title.scss';
@import '@axa-fr/react-toolkit-button/dist/button.scss';
@import '@axa-fr/react-toolkit-form-core/dist/form.scss';
@import '@axa-fr/react-toolkit-form-input-card/dist/card.scss';
@import '@axa-fr/react-toolkit-form-input-checkbox/dist/checkbox.scss';
@import '@axa-fr/react-toolkit-form-input-radio/dist/radio.scss';
@import '@axa-fr/react-toolkit-form-input-text/dist/inputtext.scss';
@import '@axa-fr/react-toolkit-form-input-pass/dist/pass.scss';
@import '@axa-fr/react-toolkit-form-input-textarea/dist/textarea.scss';
@import '@axa-fr/react-toolkit-form-input-switch/dist/switch.scss';
@import '@axa-fr/react-toolkit-form-input-slider/dist/slider.scss';
@import '@axa-fr/react-toolkit-form-input-select/dist/select.scss';
@import '@axa-fr/react-toolkit-form-input-file/dist/filebrowser.scss';
@import '@axa-fr/react-toolkit-form-input-date/dist/datepicker.scss';
