
form.af-form(name="myform")
  h1.af-title--content Form Element
  include ./components/Checkbox/checkbox-classic.pug
  include ./components/Checkbox/checkbox-inline.pug
  include ./components/Checkbox/checkbox-custom.pug
  include ./components/Radio/radio-classic.pug
  include ./components/Radio/radio-inline.pug
  include ./components/Radio/radio-custom.pug
  include ./components/Radioswitch/radio-switch.pug
  include ./components/Text/input-text.pug
  include ./components/Text/input-text-bulle.pug
  include ./components/Text/input-text-disabled.pug
  include ./components/Select/input-select.pug
  include ./components/Select/input-select-inline.pug
  include ./components/Select/input-select-disabled.pug
  include ./components/Textarea/input-textarea.pug
  include ./components/Textarea/input-textarea-disabled.pug
  include ./components/File/input-file.pug
  include ./components/Slider/input-slider.pug
  include ./components/Pass/input-password.pug
