
form.af-form(name="myform")
  h1.af-title--content Form element error
  include ./components/Checkbox/checkbox-classic-error.pug
  include ./components/Checkbox/checkbox-inline-error.pug
  include ./components/Checkbox/checkbox-custom-error.pug
  include ./components/Radio/radio-classic-error.pug
  include ./components/Radio/radio-inline-error.pug
  include ./components/Radio/radio-custom-error.pug
  include ./components/Text/input-text-error.pug
  include ./components/Text/input-text-bulle-error.pug  
  include ./components/Select/input-select-error.pug  
  include ./components/Select/input-select-inline-error.pug  
  include ./components/Textarea/input-textarea-error.pug
