
form.af-form(name="myform")
  h1.af-title--content Form element success
  include ./components/Checkbox/checkbox-classic-success.pug
  include ./components/Checkbox/checkbox-inline-success.pug
  include ./components/Checkbox/checkbox-custom-success.pug
  include ./components/Radio/radio-classic-success.pug
  include ./components/Radio/radio-inline-success.pug
  include ./components/Radio/radio-custom-success.pug
  include ./components/Text/input-text-success.pug
  include ./components/Text/input-text-bulle-success.pug  
  include ./components/Select/input-select-success.pug  
  include ./components/Select/input-select-inline-success.pug
  include ./components/Textarea/input-textarea-success.pug  
