form(name="myform" style="padding: 1.5rem;")
  .form-group.row
    label.col-md-2.col-form-label Input type checkbox
    .col-md-10
      .checkbox-inline
      label.custom-control.custom-checkbox
        input.custom-control-input(type="checkbox")
        span.custom-control-indicator
        span.custom-control-description Check this custom checkbox
      label.custom-control.custom-checkbox
        input.custom-control-input(type="checkbox")
        span.custom-control-indicator
        span.custom-control-description Check this custom checkbox
      label.custom-control.custom-checkbox
        input.custom-control-input(type="checkbox")
        span.custom-control-indicator
        span.custom-control-description Check this custom checkbox
  .form-group.row
    label.col-md-2.col-form-label Input type checkbox AXA
    .col-md-10
      .checkbox-inline
      label.custom-control.custom-checkbox.custom-checkbox--axa
        input.custom-control-input(type="checkbox")
        span.custom-control-indicator
        span.custom-control-description Check this custom checkbox
      label.custom-control.custom-checkbox.custom-checkbox--axa
        input.custom-control-input(type="checkbox")
        span.custom-control-indicator
        span.custom-control-description Check this custom checkbox
      label.custom-control.custom-checkbox.custom-checkbox--axa
        input.custom-control-input(type="checkbox")
        span.custom-control-indicator
        span.custom-control-description Check this custom checkbox
