@import '../variables.scss';

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 10px;
  top: 10px;
}

.bm-burger-bars {
  background: $color-white;
}

.bm-morph-shape {
  fill: $bgColor;
}

.bm-menu {
  padding: 2em 0 0 0;
  background: $bgColor;
}

.bm-cross {
  background: $textColor;
}

.bm-cross-button {
  margin-right: 1rem;
}

.nav-list {
  list-style: none;
  padding: 1rem 0 1rem 1rem;
  margin: 0;
  border-bottom: $textColor 1px solid;

  &:last-child {
    border: 0;
    padding-bottom: 0;
  }

  &--child {
    padding: 0 0 0 2rem;

    .nav-item {
      list-style: square;
    }
  }
}

.nav-link {
  color: $textColor;

  &:hover,
  &:focus {
    color: $textColor-primary;
  }

  &.active {
    color: $color-white;
    background: $bgColorDark;
  }
}

.nav-text {
  color: $textColor;
  font-weight: 600;
  text-transform: uppercase;
}

.bm-overlay {
  display: none;
}
