extends ../../../commons/layout

block meta
  -var activePath = '/style/icons';
  -const { metatitle, metadescription, metakeywords, github, storybook, badge, colors } = require(`../src/pages${activePath}/data.json`)  
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../../'

block vars
  - var id = "component"

block menu
  +Menu({ activePath })

block page
  +PageTitle({ title: 'Icons List', subtitle: 'Style' })
  .tk-page__links
    +PageSummary()
    +PageLinks({github, storybook, badge})
  +PageContentComponent()
    block guidelines
      +PageMarkdown()
        include:markdown-it ./markdown/guidelines.md
    block code
      +Demo({ title:'Classic Icons', storybook, activePath, absTmpl: 'node_modules/@axa-fr/react-toolkit-core/dist/assets/templates/template.pug' })
      +Demo({ title:'Themes Icons', storybook, activePath, tmpl: 'icons-decli' })
    block style
      +Colors({ colors })
      +PageMarkdown()
        include:markdown-it ./markdown/style.md
