.#{$prefix} {
  &-headerlinks {
    position: relative;
    &__list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      transition: all 0.5s linear;
    }
    &__item {
      padding: 1rem;
      &-link {
        color: $white;
      }
      &--active &-link {
        color: $color-flamingo;
      }
    }
    &__toggle {
      position: relative;
    }
    &__open,
    &__close {
      width: 30px;
      fill: $white;
      position: absolute;
      top: 0;
      right: 5px;
      display: none;
      z-index: 8;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 800px) {
  .#{$prefix} {
    &-headerlinks {
      &__list {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: $color-marine;
        font-size: 3rem;
        z-index: 7;
        visibility: hidden;
        animation: fadeout 0.5s linear backwards;
      }
      &__open {
        display: block;
      }
      &--opened &__list {
        visibility: visible;
        display: flex;
        animation: fadein 0.5s linear forwards;
      }
      &--opened &__close {
        display: block;
      }
      &--opened &__open {
        display: none;
      }
    }
  }
}
