@import '../node_modules/@axa-fr/react-toolkit-core/src/common/scss/core';

.af-title {
  position: relative;
  overflow: hidden;
  font-weight: 600;

  &::after {
    background-color: $brand-primary;
    border: none;
    bottom: 0.3125rem;
    clear: left;
    content: ' ';
    float: left;
    height: 1px;
    margin-left: 0.875rem;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  & + .af-title {
    margin-top: 0;
  }

  &--bigTitle {
    font-size: 4.25rem;
    font-weight: 600;
  }

  &--content {
    color: $color-mine-shaft;
    border-bottom: 1px solid $color-silver;
    padding-bottom: 1rem;
    font-size: 1.75em;
    margin: 2rem 0 3rem 0;
    font-weight: 600;

    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

.af-subtitle {
  color: $color-mine-shaft;
  position: relative;
  overflow: hidden;
  width: 100%;
  font-weight: 600;

  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    z-index: 1;
    margin-left: 2rem;
    top: 50%;
    transform: (-50%, 0);
    background: $color-dusty-gray;
    opacity: 0.3;
  }
}
