@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

h2.af-title {
  font-size: 1.5rem;
}

h3.af-title {
  font-size: 1.25rem;
}

h4.af-title {
  font-size: 1.125rem;
}

h3.af-title::after,
h4.af-title::after {
  bottom: 0.1rem;
}

.af-title {
  position: relative;
  overflow: hidden;
  font-weight: 600;
  color: $color-texte;

  &::after {
    background-color: $color-gray-1;
    bottom: 0.3rem;
    content: ' ';
    height: 1px;
    margin: 0.5rem 1rem;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  & + .af-title {
    margin-top: 0;
  }

  &--content {
    color: $color-mine-shaft;
    border-bottom: 1px solid $color-silver;
    padding-bottom: 1rem;
    font-size: 1.75em;
    margin: 2rem 0 3rem 0;
    font-weight: 600;

    &:nth-child(1) {
      margin-top: 0;
    }
  }
}
