.af-alert.af-alert--success
  button.af-alert__icon-close
    i.glyphicon.glyphicon-close
  h3.af-alert__title
    .af-alert__title-icon
      i.glyphicon.glyphicon-ok
    .af-alert__title-text
      | Les caves et les garages situés dans le même corps de bâtiment que le logement assuré sont garantis d'office
