.af-alert.af-alert--info
  button.af-alert__icon-close
    include ../../../style/icons/templates/close.pug
  h3.af-alert__title
    .af-alert__title-icon
      include ../../../style/icons/templates/info-sign.pug
    .af-alert__title-text
      | Les caves et les garages situés dans le même corps de bâtiment que le logement assuré sont garantis d'office
