.af-alert.af-alert--success
  button.af-alert__icon-close
    i.glyphicon.glyphicon-close
  h3.af-alert__title
    .af-alert__title-icon
      i.glyphicon.glyphicon-ok
    .af-alert__title-text
      | Les caves et les garages situés dans le même corps de bâtiment que le logement assuré sont garantis d'office
  .af-alert__content
    .af-alert__content__left
    .af-alert__content__right
      ul
        li L'adresse du risque ou le capital total déclaré ont été modifiés.
        li Vous devez relancer la vérification des équipements de protection contre le vol.
        li Lorem ipsum
        li Lorem ipsum
