extends ../../commons/layout

block meta
  -const { metatitle, metadescription, metakeywords, items } = require('../src/pages/patterns/meta.json')
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../'

block menu
  +MenuPatterns({})

block headerlinks
  +Headerlinks({ activePath:'/patterns' })

block page
  +PageTitle({ title: 'Patterns' })
  +PageContent()
    +Cards({ items })
