article.af-panel
  header.af-panel__header
    span.af-panel__title Synthèse du besoin
      span.af-badge.af-badge--info 2
  section.af-panel__content
    ul.af-panel__list
      li.af-panel__list-item Marié, 2 enfants
      li.af-panel__list-item Artisan
      li.af-panel__list-item Renault Clio
      li.af-panel__list-item Achat à crédit
      li.af-panel__list-item Usage privé/travail
      li.af-panel__list-item Bonus 35%
      li.af-panel__list-item Avec antécédent
      li.af-panel__list-item 0 sinitre depuis 3 ans
      li.af-panel__list-item 1 permis de - de 3 ans / 3 véhicules au foyer