article.af-panel.af-panel--selection
  header.af-panel__header
    span.af-panel__title Votre sélection
  section.af-panel__content
    dl.af-panel__def-list
      dt.af-panel__terme Socle de garanties
      dd.af-panel__def 7,00 € / mois
    dl.af-panel__def-list
      dt.af-panel__terme Mes proches et moi
      dd.af-panel__def 12,00 € / mois
      dt.af-panel__terme Mes travaux
      dd.af-panel__def 15,00 € / mois
    dl.af-panel__def-list.af-panel__def-list--ajust
      dt.af-panel__terme Ajustements
      dd.af-panel__def -2,00 € / mois
    dl.af-panel__def-list.af-panel__def-list--result
      dt.af-panel__terme Tarif mensuel
      dd.af-panel__def
        b.af-panel__def-price 32,00 €
        span.af-panel__def-month / mois
        small.af-panel__def-byyear Soit 768,00 € / an
  footer.af-panel__footer
    a.af-panel__footer-link(href="" role="button")
      i.glyphicon.glyphicon-cog
      span  Ajustements
  
