article.af-panel
  header.af-panel__header
    span.af-panel__title Title 
  section.af-panel__content
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque similique, quis aliquam temporibus velit ullam, quos quasi? Quod modi asperiores incidunt, velit repellendus, totam saepe quaerat voluptates cum quo facere.
  footer.af-panel__footer
    a.af-panel__footer-link(href="https://www.qwant.com" target="_blank" rel="noopener noreferrer")
      i.glyphicon.glyphicon-new-window
      span  Search with Qwant
