h3 La génération de cette page a été faite à l'aide de la task gulp 'iconfont'.Pour ajouter un icon à cette page de démo, il faut relancer cette task.
h2.af-title Liste des glyphicons
include ./template.pug
