ul.icons-list
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-adjust")
    span.icons-list__item-name glyphicon-adjust
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-alert")
    span.icons-list__item-name glyphicon-alert
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-align-center")
    span.icons-list__item-name glyphicon-align-center
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-align-justify")
    span.icons-list__item-name glyphicon-align-justify
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-align-left")
    span.icons-list__item-name glyphicon-align-left
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-align-right")
    span.icons-list__item-name glyphicon-align-right
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-all")
    span.icons-list__item-name glyphicon-all
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-apple")
    span.icons-list__item-name glyphicon-apple
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-collapse-down")
    span.icons-list__item-name glyphicon-arrow-collapse-down
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-collapse-left")
    span.icons-list__item-name glyphicon-arrow-collapse-left
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-collapse-right")
    span.icons-list__item-name glyphicon-arrow-collapse-right
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-collapse-up")
    span.icons-list__item-name glyphicon-arrow-collapse-up
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-down")
    span.icons-list__item-name glyphicon-arrow-down
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-left")
    span.icons-list__item-name glyphicon-arrow-left
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-right")
    span.icons-list__item-name glyphicon-arrow-right
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-rounded-bottom")
    span.icons-list__item-name glyphicon-arrow-rounded-bottom
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-rounded-left")
    span.icons-list__item-name glyphicon-arrow-rounded-left
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-rounded-right")
    span.icons-list__item-name glyphicon-arrow-rounded-right
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-rounded-top")
    span.icons-list__item-name glyphicon-arrow-rounded-top
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-up")
    span.icons-list__item-name glyphicon-arrow-up
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-xs-down")
    span.icons-list__item-name glyphicon-arrow-xs-down
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-xs-left")
    span.icons-list__item-name glyphicon-arrow-xs-left
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-xs-right")
    span.icons-list__item-name glyphicon-arrow-xs-right
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrow-xs-up")
    span.icons-list__item-name glyphicon-arrow-xs-up
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrowthin-down")
    span.icons-list__item-name glyphicon-arrowthin-down
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrowthin-left")
    span.icons-list__item-name glyphicon-arrowthin-left
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrowthin-right")
    span.icons-list__item-name glyphicon-arrowthin-right
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-arrowthin-up")
    span.icons-list__item-name glyphicon-arrowthin-up
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-asterisk")
    span.icons-list__item-name glyphicon-asterisk
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-auto")
    span.icons-list__item-name glyphicon-auto
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-axa-switch")
    span.icons-list__item-name glyphicon-axa-switch
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-baby-formula")
    span.icons-list__item-name glyphicon-baby-formula
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-backward")
    span.icons-list__item-name glyphicon-backward
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-ban-circle")
    span.icons-list__item-name glyphicon-ban-circle
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-bank")
    span.icons-list__item-name glyphicon-bank
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-barcode")
    span.icons-list__item-name glyphicon-barcode
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-bed")
    span.icons-list__item-name glyphicon-bed
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-bell")
    span.icons-list__item-name glyphicon-bell
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-bishop")
    span.icons-list__item-name glyphicon-bishop
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-bitcoin")
    span.icons-list__item-name glyphicon-bitcoin
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-blackboard")
    span.icons-list__item-name glyphicon-blackboard
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-bold")
    span.icons-list__item-name glyphicon-bold
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-book")
    span.icons-list__item-name glyphicon-book
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-bookmark")
    span.icons-list__item-name glyphicon-bookmark
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-briefcase-add")
    span.icons-list__item-name glyphicon-briefcase-add
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-briefcase-cup")
    span.icons-list__item-name glyphicon-briefcase-cup
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-briefcase-ok")
    span.icons-list__item-name glyphicon-briefcase-ok
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-briefcase-wait")
    span.icons-list__item-name glyphicon-briefcase-wait
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-briefcase")
    span.icons-list__item-name glyphicon-briefcase
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-bullhorn")
    span.icons-list__item-name glyphicon-bullhorn
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-calendar")
    span.icons-list__item-name glyphicon-calendar
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-camera")
    span.icons-list__item-name glyphicon-camera
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-car-compact")
    span.icons-list__item-name glyphicon-car-compact
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-car-secure")
    span.icons-list__item-name glyphicon-car-secure
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-cd")
    span.icons-list__item-name glyphicon-cd
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-certificate")
    span.icons-list__item-name glyphicon-certificate
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-chair")
    span.icons-list__item-name glyphicon-chair
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-check")
    span.icons-list__item-name glyphicon-check
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-chevron-down")
    span.icons-list__item-name glyphicon-chevron-down
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-chevron-left")
    span.icons-list__item-name glyphicon-chevron-left
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-chevron-right")
    span.icons-list__item-name glyphicon-chevron-right
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-chevron-up")
    span.icons-list__item-name glyphicon-chevron-up
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-child")
    span.icons-list__item-name glyphicon-child
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-circle-arrow-down")
    span.icons-list__item-name glyphicon-circle-arrow-down
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-circle-arrow-left")
    span.icons-list__item-name glyphicon-circle-arrow-left
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-circle-arrow-right")
    span.icons-list__item-name glyphicon-circle-arrow-right
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-circle-arrow-up")
    span.icons-list__item-name glyphicon-circle-arrow-up
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-close")
    span.icons-list__item-name glyphicon-close
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-cloud-download")
    span.icons-list__item-name glyphicon-cloud-download
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-cloud-upload")
    span.icons-list__item-name glyphicon-cloud-upload
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-cloud")
    span.icons-list__item-name glyphicon-cloud
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-coffre")
    span.icons-list__item-name glyphicon-coffre
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-cog")
    span.icons-list__item-name glyphicon-cog
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-collapse-down")
    span.icons-list__item-name glyphicon-collapse-down
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-collapse-up")
    span.icons-list__item-name glyphicon-collapse-up
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-comment")
    span.icons-list__item-name glyphicon-comment
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-compressed")
    span.icons-list__item-name glyphicon-compressed
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-console")
    span.icons-list__item-name glyphicon-console
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-copy")
    span.icons-list__item-name glyphicon-copy
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-copyright-mark")
    span.icons-list__item-name glyphicon-copyright-mark
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-credit-card")
    span.icons-list__item-name glyphicon-credit-card
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-cutlery")
    span.icons-list__item-name glyphicon-cutlery
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-dashboard")
    span.icons-list__item-name glyphicon-dashboard
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-download-alt")
    span.icons-list__item-name glyphicon-download-alt
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-download")
    span.icons-list__item-name glyphicon-download
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-duplicate")
    span.icons-list__item-name glyphicon-duplicate
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-earphone")
    span.icons-list__item-name glyphicon-earphone
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-edit")
    span.icons-list__item-name glyphicon-edit
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-education")
    span.icons-list__item-name glyphicon-education
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-eject")
    span.icons-list__item-name glyphicon-eject
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-envelope")
    span.icons-list__item-name glyphicon-envelope
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-equalizer")
    span.icons-list__item-name glyphicon-equalizer
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-erase")
    span.icons-list__item-name glyphicon-erase
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-euro-symbol")
    span.icons-list__item-name glyphicon-euro-symbol
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-exclamation-sign")
    span.icons-list__item-name glyphicon-exclamation-sign
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-expand")
    span.icons-list__item-name glyphicon-expand
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-export")
    span.icons-list__item-name glyphicon-export
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-eye-close")
    span.icons-list__item-name glyphicon-eye-close
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-eye-open")
    span.icons-list__item-name glyphicon-eye-open
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-facebook")
    span.icons-list__item-name glyphicon-facebook
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-facetime-video")
    span.icons-list__item-name glyphicon-facetime-video
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-fast-backward")
    span.icons-list__item-name glyphicon-fast-backward
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-fast-forward")
    span.icons-list__item-name glyphicon-fast-forward
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-file-doc")
    span.icons-list__item-name glyphicon-file-doc
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-file-pdf")
    span.icons-list__item-name glyphicon-file-pdf
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-file-xls")
    span.icons-list__item-name glyphicon-file-xls
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-file")
    span.icons-list__item-name glyphicon-file
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-film")
    span.icons-list__item-name glyphicon-film
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-filter")
    span.icons-list__item-name glyphicon-filter
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-fire")
    span.icons-list__item-name glyphicon-fire
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-flag")
    span.icons-list__item-name glyphicon-flag
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-flash")
    span.icons-list__item-name glyphicon-flash
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-floppy-disk")
    span.icons-list__item-name glyphicon-floppy-disk
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-floppy-open")
    span.icons-list__item-name glyphicon-floppy-open
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-floppy-remove")
    span.icons-list__item-name glyphicon-floppy-remove
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-floppy-save")
    span.icons-list__item-name glyphicon-floppy-save
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-floppy-saved")
    span.icons-list__item-name glyphicon-floppy-saved
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-folder-close")
    span.icons-list__item-name glyphicon-folder-close
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-folder-open")
    span.icons-list__item-name glyphicon-folder-open
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-font")
    span.icons-list__item-name glyphicon-font
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-forward")
    span.icons-list__item-name glyphicon-forward
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-france")
    span.icons-list__item-name glyphicon-france
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-fullscreen")
    span.icons-list__item-name glyphicon-fullscreen
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-gbp")
    span.icons-list__item-name glyphicon-gbp
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-gift")
    span.icons-list__item-name glyphicon-gift
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-glass")
    span.icons-list__item-name glyphicon-glass
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-globe")
    span.icons-list__item-name glyphicon-globe
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-grain")
    span.icons-list__item-name glyphicon-grain
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-hand-down")
    span.icons-list__item-name glyphicon-hand-down
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-hand-left")
    span.icons-list__item-name glyphicon-hand-left
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-hand-right")
    span.icons-list__item-name glyphicon-hand-right
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-hand-up")
    span.icons-list__item-name glyphicon-hand-up
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-hd-video")
    span.icons-list__item-name glyphicon-hd-video
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-hdd")
    span.icons-list__item-name glyphicon-hdd
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-header")
    span.icons-list__item-name glyphicon-header
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-headphone")
    span.icons-list__item-name glyphicon-headphone
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-heart-empty")
    span.icons-list__item-name glyphicon-heart-empty
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-heart")
    span.icons-list__item-name glyphicon-heart
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-home")
    span.icons-list__item-name glyphicon-home
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-hourglass")
    span.icons-list__item-name glyphicon-hourglass
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-import")
    span.icons-list__item-name glyphicon-import
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-imprimer")
    span.icons-list__item-name glyphicon-imprimer
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-inbox")
    span.icons-list__item-name glyphicon-inbox
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-indent-left")
    span.icons-list__item-name glyphicon-indent-left
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-indent-right")
    span.icons-list__item-name glyphicon-indent-right
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-info-sign")
    span.icons-list__item-name glyphicon-info-sign
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-instagram")
    span.icons-list__item-name glyphicon-instagram
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-italic")
    span.icons-list__item-name glyphicon-italic
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-king")
    span.icons-list__item-name glyphicon-king
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-knight")
    span.icons-list__item-name glyphicon-knight
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-lamp")
    span.icons-list__item-name glyphicon-lamp
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-leaf")
    span.icons-list__item-name glyphicon-leaf
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-level-up")
    span.icons-list__item-name glyphicon-level-up
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-link")
    span.icons-list__item-name glyphicon-link
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-linkedin-logo")
    span.icons-list__item-name glyphicon-linkedin-logo
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-list-alt")
    span.icons-list__item-name glyphicon-list-alt
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-list")
    span.icons-list__item-name glyphicon-list
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-lock")
    span.icons-list__item-name glyphicon-lock
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-log-in")
    span.icons-list__item-name glyphicon-log-in
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-log-out")
    span.icons-list__item-name glyphicon-log-out
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-lolly-tasted")
    span.icons-list__item-name glyphicon-lolly-tasted
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-lolly")
    span.icons-list__item-name glyphicon-lolly
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-magnet")
    span.icons-list__item-name glyphicon-magnet
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-map-marker")
    span.icons-list__item-name glyphicon-map-marker
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-menu-down")
    span.icons-list__item-name glyphicon-menu-down
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-menu-hamburger")
    span.icons-list__item-name glyphicon-menu-hamburger
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-menu-left")
    span.icons-list__item-name glyphicon-menu-left
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-menu-right")
    span.icons-list__item-name glyphicon-menu-right
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-menu-up")
    span.icons-list__item-name glyphicon-menu-up
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-minus-sign")
    span.icons-list__item-name glyphicon-minus-sign
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-minus")
    span.icons-list__item-name glyphicon-minus
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-modal-window")
    span.icons-list__item-name glyphicon-modal-window
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-move")
    span.icons-list__item-name glyphicon-move
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-music")
    span.icons-list__item-name glyphicon-music
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-new-window")
    span.icons-list__item-name glyphicon-new-window
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-object-align-bottom")
    span.icons-list__item-name glyphicon-object-align-bottom
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-object-align-horizontal")
    span.icons-list__item-name glyphicon-object-align-horizontal
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-object-align-left")
    span.icons-list__item-name glyphicon-object-align-left
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-object-align-right")
    span.icons-list__item-name glyphicon-object-align-right
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-object-align-top")
    span.icons-list__item-name glyphicon-object-align-top
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-object-align-vertical")
    span.icons-list__item-name glyphicon-object-align-vertical
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-off")
    span.icons-list__item-name glyphicon-off
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-oil")
    span.icons-list__item-name glyphicon-oil
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-ok-circle")
    span.icons-list__item-name glyphicon-ok-circle
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-ok-sign")
    span.icons-list__item-name glyphicon-ok-sign
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-ok")
    span.icons-list__item-name glyphicon-ok
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-open-file")
    span.icons-list__item-name glyphicon-open-file
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-open")
    span.icons-list__item-name glyphicon-open
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-option-horizontal")
    span.icons-list__item-name glyphicon-option-horizontal
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-option-vertical")
    span.icons-list__item-name glyphicon-option-vertical
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-paperclip")
    span.icons-list__item-name glyphicon-paperclip
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-paste")
    span.icons-list__item-name glyphicon-paste
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-pause")
    span.icons-list__item-name glyphicon-pause
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-pawn")
    span.icons-list__item-name glyphicon-pawn
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-pdf")
    span.icons-list__item-name glyphicon-pdf
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-pencil")
    span.icons-list__item-name glyphicon-pencil
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-phone-alt")
    span.icons-list__item-name glyphicon-phone-alt
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-phone")
    span.icons-list__item-name glyphicon-phone
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-picture")
    span.icons-list__item-name glyphicon-picture
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-plane")
    span.icons-list__item-name glyphicon-plane
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-play-circle")
    span.icons-list__item-name glyphicon-play-circle
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-play")
    span.icons-list__item-name glyphicon-play
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-plus-sign")
    span.icons-list__item-name glyphicon-plus-sign
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-plus")
    span.icons-list__item-name glyphicon-plus
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-print")
    span.icons-list__item-name glyphicon-print
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-pushpin")
    span.icons-list__item-name glyphicon-pushpin
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-pushpin2")
    span.icons-list__item-name glyphicon-pushpin2
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-pushpin3")
    span.icons-list__item-name glyphicon-pushpin3
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-pushpin4")
    span.icons-list__item-name glyphicon-pushpin4
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-pushpin5")
    span.icons-list__item-name glyphicon-pushpin5
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-pushpin6")
    span.icons-list__item-name glyphicon-pushpin6
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-pushpin7")
    span.icons-list__item-name glyphicon-pushpin7
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-pushpin8")
    span.icons-list__item-name glyphicon-pushpin8
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-qrcode")
    span.icons-list__item-name glyphicon-qrcode
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-queen")
    span.icons-list__item-name glyphicon-queen
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-question-sign")
    span.icons-list__item-name glyphicon-question-sign
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-random")
    span.icons-list__item-name glyphicon-random
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-record")
    span.icons-list__item-name glyphicon-record
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-refresh")
    span.icons-list__item-name glyphicon-refresh
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-registration-mark")
    span.icons-list__item-name glyphicon-registration-mark
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-remove-circle")
    span.icons-list__item-name glyphicon-remove-circle
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-remove-sign")
    span.icons-list__item-name glyphicon-remove-sign
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-remove")
    span.icons-list__item-name glyphicon-remove
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-repeat")
    span.icons-list__item-name glyphicon-repeat
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-reset")
    span.icons-list__item-name glyphicon-reset
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-resize-full")
    span.icons-list__item-name glyphicon-resize-full
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-resize-horizontal")
    span.icons-list__item-name glyphicon-resize-horizontal
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-resize-small")
    span.icons-list__item-name glyphicon-resize-small
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-resize-vertical")
    span.icons-list__item-name glyphicon-resize-vertical
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-retweet")
    span.icons-list__item-name glyphicon-retweet
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-road")
    span.icons-list__item-name glyphicon-road
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-ruble")
    span.icons-list__item-name glyphicon-ruble
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-save-alt")
    span.icons-list__item-name glyphicon-save-alt
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-save-file")
    span.icons-list__item-name glyphicon-save-file
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-saved")
    span.icons-list__item-name glyphicon-saved
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-scale")
    span.icons-list__item-name glyphicon-scale
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-scissors")
    span.icons-list__item-name glyphicon-scissors
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-screenshot")
    span.icons-list__item-name glyphicon-screenshot
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-sd-video")
    span.icons-list__item-name glyphicon-sd-video
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-search")
    span.icons-list__item-name glyphicon-search
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-seat-belt")
    span.icons-list__item-name glyphicon-seat-belt
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-send")
    span.icons-list__item-name glyphicon-send
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-share-alt")
    span.icons-list__item-name glyphicon-share-alt
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-share")
    span.icons-list__item-name glyphicon-share
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-shopping-cart")
    span.icons-list__item-name glyphicon-shopping-cart
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-signal")
    span.icons-list__item-name glyphicon-signal
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-sorting-asc")
    span.icons-list__item-name glyphicon-sorting-asc
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-sorting-desc")
    span.icons-list__item-name glyphicon-sorting-desc
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-sorting")
    span.icons-list__item-name glyphicon-sorting
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-sound-5-1")
    span.icons-list__item-name glyphicon-sound-5-1
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-sound-6-1")
    span.icons-list__item-name glyphicon-sound-6-1
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-sound-7-1")
    span.icons-list__item-name glyphicon-sound-7-1
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-sound-dolby")
    span.icons-list__item-name glyphicon-sound-dolby
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-sound-stereo")
    span.icons-list__item-name glyphicon-sound-stereo
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-star-empty")
    span.icons-list__item-name glyphicon-star-empty
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-star")
    span.icons-list__item-name glyphicon-star
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-stats")
    span.icons-list__item-name glyphicon-stats
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-step-backward")
    span.icons-list__item-name glyphicon-step-backward
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-step-forward")
    span.icons-list__item-name glyphicon-step-forward
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-stop")
    span.icons-list__item-name glyphicon-stop
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-subscript")
    span.icons-list__item-name glyphicon-subscript
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-subtitles")
    span.icons-list__item-name glyphicon-subtitles
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-sunglasses")
    span.icons-list__item-name glyphicon-sunglasses
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-superscript")
    span.icons-list__item-name glyphicon-superscript
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-tag")
    span.icons-list__item-name glyphicon-tag
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-tags")
    span.icons-list__item-name glyphicon-tags
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-task")
    span.icons-list__item-name glyphicon-task
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-text-background")
    span.icons-list__item-name glyphicon-text-background
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-text-color")
    span.icons-list__item-name glyphicon-text-color
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-text-height")
    span.icons-list__item-name glyphicon-text-height
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-text-size")
    span.icons-list__item-name glyphicon-text-size
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-text-width")
    span.icons-list__item-name glyphicon-text-width
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-th-large")
    span.icons-list__item-name glyphicon-th-large
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-th-list")
    span.icons-list__item-name glyphicon-th-list
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-th")
    span.icons-list__item-name glyphicon-th
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-thumbs-down")
    span.icons-list__item-name glyphicon-thumbs-down
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-thumbs-up")
    span.icons-list__item-name glyphicon-thumbs-up
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-time")
    span.icons-list__item-name glyphicon-time
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-tint")
    span.icons-list__item-name glyphicon-tint
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-tow-truck")
    span.icons-list__item-name glyphicon-tow-truck
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-towed-car")
    span.icons-list__item-name glyphicon-towed-car
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-tower")
    span.icons-list__item-name glyphicon-tower
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-transfer")
    span.icons-list__item-name glyphicon-transfer
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-trash")
    span.icons-list__item-name glyphicon-trash
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-tree-conifer")
    span.icons-list__item-name glyphicon-tree-conifer
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-tree-deciduous")
    span.icons-list__item-name glyphicon-tree-deciduous
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-twitter-logo-silhouette")
    span.icons-list__item-name glyphicon-twitter-logo-silhouette
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-uncheck")
    span.icons-list__item-name glyphicon-uncheck
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-unlock")
    span.icons-list__item-name glyphicon-unlock
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-upload")
    span.icons-list__item-name glyphicon-upload
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-usd")
    span.icons-list__item-name glyphicon-usd
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-user")
    span.icons-list__item-name glyphicon-user
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-volume-down")
    span.icons-list__item-name glyphicon-volume-down
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-volume-off")
    span.icons-list__item-name glyphicon-volume-off
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-volume-up")
    span.icons-list__item-name glyphicon-volume-up
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-warning-sign")
    span.icons-list__item-name glyphicon-warning-sign
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-wrench")
    span.icons-list__item-name glyphicon-wrench
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-xls")
    span.icons-list__item-name glyphicon-xls
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-yen")
    span.icons-list__item-name glyphicon-yen
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-youtube-symbol")
    span.icons-list__item-name glyphicon-youtube-symbol
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-zoom-in")
    span.icons-list__item-name glyphicon-zoom-in
  li.icons-list__item
    span.icons-list__item-icon(class="glyphicon glyphicon-zoom-out")
    span.icons-list__item-name glyphicon-zoom-out
  