button.btn.af-btn.af-btn--hasiconLeft
  span.af-btn__text Button with left icon
  include ../../../guidelines/icones/templates/arrowthin-left.pug
button.btn.af-btn.af-btn--hasiconLeft.af-btn--disabled
  span.af-btn__text Button disabled with left icon
  include ../../../guidelines/icones/templates/arrowthin-left.pug
button.btn.af-btn.af-btn--hasiconLeft.af-btn--success
  span.af-btn__text Button success with left icon
  include ../../../guidelines/icones/templates/arrowthin-left.pug
button.btn.af-btn.af-btn--hasiconLeft.af-btn--danger
  span.af-btn__text Button danger with left icon
  include ../../../guidelines/icones/templates/arrowthin-left.pug
button.btn.af-btn.af-btn--hasiconRight
  span.af-btn__text Button with right icon
  include ../../../guidelines/icones/templates/arrowthin-right.pug
button.btn.af-btn.af-btn--hasiconRight.af-btn--disabled
  span.af-btn__text Button disabled with right icon
  include ../../../guidelines/icones/templates/arrowthin-right.pug
button.btn.af-btn.af-btn--hasiconRight.af-btn--success
  span.af-btn__text Button success with right icon
  include ../../../guidelines/icones/templates/arrowthin-right.pug
button.btn.af-btn.af-btn--hasiconRight.af-btn--danger
  span.af-btn__text Button danger with right icon
  include ../../../guidelines/icones/templates/arrowthin-right.pug
