button.btn.af-btn.af-btn--reverse(tabindex="-1") Button AF reverse
button.btn.af-btn.af-btn--reverse.af-btn--disabled(tabindex="-1") Button AF disabled reverse
button.btn.af-btn.af-btn--reverse.af-btn--hasiconLeft(tabindex="-1")
  span.af-btn__text Button with left icon
  i.glyphicon.glyphicon-arrowthin-left
button.btn.af-btn.af-btn--reverse.af-btn--hasiconRight(tabindex="-1")
  span.af-btn__text Button with right icon
  i.glyphicon.glyphicon-arrowthin-right
button.btn.af-btn.af-btn--reverse.af-btn--hasiconLeft(tabindex="-1")
  span.af-btn__text Button with left icon
  i.glyphicon.glyphicon-globe
button.btn.af-btn.af-btn--reverse.af-btn--disabled.af-btn--hasiconRight(tabindex="-1")
  span.af-btn__text Button disabled with right icon
  i.glyphicon.glyphicon-arrowthin-right