button.af-btn
  | Button AF
button.af-btn.af-btn--disabled
  | Button AF Disabled
button.af-btn.af-btn--success
  | Button AF success
button.af-btn.af-btn--danger
  | Button AF danger
button.af-btn.af-btn--small
  | OK
