button.btn.af-btn.af-btn--reverse(tabindex="-1") Button AF reverse
button.btn.af-btn.af-btn--reverse.af-btn--disabled(tabindex="-1") Button AF disabled reverse
button.btn.af-btn.af-btn--reverse.af-btn--hasiconLeft(tabindex="-1")
  span.af-btn__text Button with left icon
  include ../../../style/icons/templates/arrowthin-left.pug
button.btn.af-btn.af-btn--reverse.af-btn--hasiconRight(tabindex="-1")
  span.af-btn__text Button with right icon
  include ../../../style/icons/templates/arrowthin-right.pug
button.btn.af-btn.af-btn--reverse.af-btn--hasiconLeft(tabindex="-1")
  span.af-btn__text Button with left icon
  include ../../../style/icons/templates/globe.pug
button.btn.af-btn.af-btn--reverse.af-btn--disabled.af-btn--hasiconRight(tabindex="-1")
  span.af-btn__text Button disabled with right icon
  include ../../../style/icons/templates/arrowthin-right.pug
