-var exemples = ["pushpin", "print", "arrow-xs-down", "heart", "eye-open", "menu-hamburger", "remove", "filter", "floppy-disk", "open"];

.button-demo
  each ex in exemples
    div.fordemo
      a.af-btn--circle(href="#" role="button" )
        i.glyphicon(class=`glyphicon-${ex}`)
.button-demo
  each ex in exemples
    div.fordemo
      a.af-btn--circle-small(href="#" role="button" )
        i.glyphicon(class=`glyphicon-${ex}`)
