.tk-block-demo
  a.af-link(href="#") Simple link
.tk-block-demo
  a.af-link.af-link--hasIconLeft(href="#")
    include ../../../style/icons/templates/plus.pug
    span.af-link__text Link with icon
.tk-block-demo
  a.af-link.af-link--hasIconLeft(href="#")
    include ../../../style/icons/templates/arrowthin-left.pug
    span.af-link__text Back Link
.tk-block-demo
  a.af-link.af-link--hasIconLeft(href="#")
    include ../../../style/icons/templates/plus-sign.pug
    span.af-link__text Link plus
.tk-block-demo
  a.af-link.af-link--hasIconLeft(href="#")
    include ../../../style/icons/templates/pencil.pug
    span.af-link__text Link edition
.tk-block-demo
  a.af-link.af-link--hasIconLeft(href="#")
    include ../../../style/icons/templates/print.pug
    span.af-link__text Link print
.tk-block-demo
  a.af-link.af-link--hasIconLeft(href="#")
    include ../../../style/icons/templates/question-sign.pug
    span.af-link__text Link question
.tk-block-demo
  a.af-link.af-link--hasIconRight(href="#")
    span.af-link__text Link new window
    include ../../../style/icons/templates/new-window.pug
