.button-demo
  a.af-link(href="#") Simple link
.button-demo
  a.af-link.af-link--hasIconLeft(href="#")
    i.glyphicon.glyphicon-plus
    span.af-link__text Link with icon
.button-demo
  a.af-link.af-link--hasIconLeft(href="#")
    i.glyphicon.glyphicon-arrowthin-left
    span.af-link__text Back Link
.button-demo
  a.af-link.af-link--hasIconLeft(href="#")
    i.glyphicon.glyphicon-plus-sign
    span.af-link__text Link plus
.button-demo
  a.af-link.af-link--hasIconLeft(href="#")
    i.glyphicon.glyphicon-pencil
    span.af-link__text Link edition
.button-demo
  a.af-link.af-link--hasIconLeft(href="#")
    i.glyphicon.glyphicon-print
    span.af-link__text Link print
.button-demo
  a.af-link.af-link--hasIconLeft(href="#")
    i.glyphicon.glyphicon-question-sign
    span.af-link__text Link question
.button-demo
  a.af-link.af-link--hasIconRight(href="#")
    span.af-link__text Link new window
    i.glyphicon.glyphicon-new-window
