{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-transform-imports",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-proposal-async-generator-functions",
    "@babel/plugin-transform-async-to-generator"
  ]
}
