@import '../../../../../../../node_modules/react-datepicker/src/stylesheets/datepicker.scss';
@import '@axa-fr/react-toolkit-core/src/bootstrap/af-bootstrap.scss';
@import '@axa-fr/react-toolkit-form-core/dist/form.scss';
@import '@axa-fr/react-toolkit-form-input-date/dist/datepicker.scss';
