extends ../../../../components/form/layouts/layout-form-textarea
include ../../../../components/form/mixins/mixin-form-field-radio

block label
  label.af-form__group-label Custom Radio

block input
  +formFieldRadio({className:'af-form__radio-custom', id:"17", name:"classic-custom-success", label: "Radio 1", modifier:'success'})
  +formFieldRadio({className:'af-form__radio-custom', id:"18", name:"classic-custom-success", label: "Radio 2", modifier:'success'})
  +formFieldRadio({className:'af-form__radio-custom', id:"19", name:"classic-custom-success", label: "Radio 3", modifier:'success'})
  +formFieldRadio({className:'af-form__radio-custom', id:"20", name:"classic-custom-success", label: "Disabled", disabled: true, modifier:'disabled'})
