extends ../../../../components/form/layouts/layout-form-textarea
include ../../../../components/form/mixins/mixin-form-field-radio

block label
  label.af-form__group-label Custom Radio

block input
  +formFieldRadio({className:'af-form__radio-custom', id:"13", name:"classic-custom", label: "Radio 1"})
  +formFieldRadio({className:'af-form__radio-custom', id:"14", name:"classic-custom", label: "Radio 2"})
  +formFieldRadio({className:'af-form__radio-custom', id:"15", name:"classic-custom", label: "Radio 3"})
  +formFieldRadio({className:'af-form__radio-custom', id:"16", name:"classic-custom", label: "Disabled", disabled: true, modifier:'disabled'})
