include ../../../organisms/header/templates/classic.pug
include ../../../molecules/navigation/templates/classic.pug
include ../../../molecules/title-bar/templates/title-bar-complex.pug

.af-container
  .row
    .col.col-md-12
      include ../../../molecules/steps/templates/classic.pug
  .row
    .col.col-sm-12.col-md-12.col-lg-12.col-xl-12
      include ../../../molecules/table/templates/classic.pug
      include ../../../organisms/paging/templates/classic.pug
include ../../../molecules/footer/templates/classic.pug