.af-tabs
  ul.af-tabs__control
    li.af-tabs__item.af-tabs__item--active
      button.af-tabs__link My first title
    li.af-tabs__item
      button.af-tabs__link My second title
  .af-tabs__content
    .af-tabs__pane Content of my first tab
