.#{$prefix} {
  &-home {
    background: $color-sky;

    &__header {
      position: relative;
      height: 700px;
      width: 100%;
      background: url('./assets/images/accueil.svg') no-repeat right 50px;
      background-size: 45%;
      color: $black;
      font-size: 1.2rem;
      width: 60%;
      margin: 0 auto;
    }

    &__title {
      font-size: 4rem;
      font-weight: 100;
      margin-top: 0;
      padding-top: 2rem;
      .#{$prefix} {
        &-slash {
          margin-left: 0;
        }
      }
    }

    &__intro {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2.5rem;
      width: 50%;
    }

    &__getstarted {
      position: relative;
      height: 600px;
      width: 100%;
      background: $color-mercury no-repeat -8% 50%;
      background-image: url('./assets/images/square-popup.png'),
        linear-gradient(45deg, #a8abb1 0%, #dbdfe0 100%);
      background-size: 50%, 100%;

      &-content {
        @include vcenterer;
        right: 0;
        width: 40%;
        padding: 1em 5em 1em 1em;
      }

      &-title {
        font-family: $font-family-logo;
        font-size: 2.8rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        letter-spacing: -2px;
      }

      &-text {
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-bottom: 1em;
      }
    }

    &__explore {
      position: relative;
      background: rgba(255, 255, 255, 0.7);
      width: 60%;
      margin: -120px auto 0 auto;
      padding-top: 3rem;
      border: 1px solid $color-action-2;
      border-radius: 3px;
      &-title {
        font-size: 3rem;
        text-align: center;
        margin: 3rem 0;
        font-weight: 200;
      }
    }

    &__encarts {
      display: flex;
      justify-content: space-around;
      padding: 2em 1em 4em 1em;
    }

    &__simpler {
      position: relative;
      margin: 0 auto;
      padding-top: 3rem;
      width: 60%;
      &-title {
        font-size: 3rem;
        text-align: center;
        margin: 3rem 0;
        font-weight: 200;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  $widthHome: 80%;
  .#{$prefix} {
    &-home {
      &__header {
        width: $widthHome;
      }
      &__explore {
        width: $widthHome;
      }
      &__simpler {
        width: $widthHome;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  $widthHome: 90%;
  .#{$prefix} {
    &-home {
      &__header {
        width: $widthHome;
        height: auto;
      }
      &__explore {
        width: $widthHome;
        margin: 0 auto;
        padding-top: 0;
      }
      &__simpler {
        width: $widthHome;
      }
      &__encarts {
        flex-wrap: wrap;
      }
    }
    &-encart {
      flex-basis: 50%;
    }
  }
}

@media screen and (max-width: 800px) {
  .#{$prefix} {
    &-home {
      &__explore {
        &-title {
          margin: 2rem 0;
        }
      }
      &__simpler {
        &-title {
          font-size: 2rem;
          margin: 2rem 0;
        }
      }
      &__encarts {
        &-title {
          font-size: 2rem;
          margin: 2rem 0;
        }
      }
      &__title {
        font-size: 2rem;
        margin: 2rem 0;
      }
      &__intro {
        width: 100%;
      }
    }
    &-encart {
      flex-basis: 100%;
    }
  }
}
