footer.af-footer
  .af-container
    a.af-logo(href="https://www.axa.fr/" title="Site Axa France" target="blank" )
      img.af-logo__brand(src="../../assets/images/slash-logo.svg" alt="Logo Slash Design System")
    .af-footer-content
      | @ 2020 AXA Tous droits réservés
