extends ../../../../components/form/layouts/layout-form-field

block label
  label.af-form__group-label(for="radioswitch") Switch radios *

block input
  .af-form-switch
    .af-form__radio-custom
      input#check0.af-form__input-radio(name="placeName" value="0" type="radio")
      label.af-form__label(for="check0")
        span.af-form__description Choix 1
    .af-form__radio-custom
      input#check1.af-form__input-radio(name="placeName" value="1" type="radio" checked="checked")
      label.af-form__label(for="check1")
        span.af-form__description Choix 2
    .af-form__radio-custom
      input#check2.af-form__input-radio(name="placeName" value="2" type="radio")
      label.af-form__label(for="check2")
        span.af-form__description Choix 3
    .af-form__radio-custom
      input#check3.af-form__input-radio(name="placeName" value="3" type="radio")
      label.af-form__label(for="check3")
        span.af-form__description Choix 44444444444444
    span.af-btn-switch-slider(style="left:64px;width:64px;")
