@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

$types: (
  success $color-malachite,
  info $color-blue-alert,
  danger $color-orange,
  error $color-pink
);

.af-badge {
  color: $white;
  border-radius: 16px;
  padding: 0.2rem 0.7rem;
  height: 28px;
  line-height: 1.25rem;
  @each $type in $types {
    &--#{nth($type, 1)} {
      background-color: nth($type, 2);
    }
  }
  &--hasIcon {
    display: inline-block;
    min-width: 38px;
    padding-top: 0.4rem;
  }
}
