@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

$types: (
  success $color-malachite,
  info $color-blue-alert,
  danger $color-orange,
  error $color-pink
);

.af-badge {
  display: inline-block;
  color: $white;
  border-radius: 16px;
  padding: 0.2rem 0.7rem;
  line-height: 1.25rem;
  @each $type in $types {
    &--#{nth($type, 1)} {
      background-color: nth($type, 2);
    }
  }

  &[disabled] {
    opacity: 0.65;
  }

  & > * {
    vertical-align: middle;
  }
}
