mixin Menu({modifier='', activePath='/'})
    -const classComponent = setClass('menu', modifier, true)
    div(class=classComponent)
        +Icon({id:'cross-gap', className:`${prefix}-menu__close`, modifier:"close", js:true})
        +Icon({id:'menu-button', className:`${prefix}-menu__open`, modifier:"open", js:true})
        nav(class=`${prefix}-menu__nav`)
            +SubMenu({menu: main, activePath})
            +SubMenu({menu: layouts, activePath})
            +SubMenu({menu: style, activePath})
            +SubMenu({menu: components, activePath})
            +SubMenu({menu: structure, activePath})
            +SubMenu({menu: form, activePath})