.af-footer-client__top-container {
  display: flex;
}

.af-footer-client__column {
  flex-grow: 1;
}

.af-footer-client__column-title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: $color-white;
}

.af-footer-client__column-items {
  list-style: none;
  padding: 0;
}
