.af-languageSelection {
  display: inline-block;
}

.af-languageSelection__title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
  color: $color-white;
}

.af-languageSelection__list {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0;
}

.af-languageSelection__item {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-right: 2px solid $color-white;
  padding: 0 20px;

  &:last-child {
    border: none;
  }

  &--active {
    .af-languageSelection__item-button {
      color: $color-white;
    }
  }

  &:hover {
    color: $color-white;
  }
}

.af-languageSelection__item-button {
  background: none;
  border: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 0 20px;
}
