.social-network__list {
  list-style: none;
  display: flex;
  padding: 0;
}

.social-network__item {
  flex-grow: 1;
}

.social-network__link {
  color: $color-white;
}

.social-network__icon {
  font-size: 25px;
}
