include ../Header/header.pug
include ../Nav/nav.pug
include ../TitleBar/title-bar-complex.pug
.container
  .row
    .col.col-md-12
      include ../StepForm/step-form.pug
  .row
    .col
      include ../Table/table-axa.pug
      include ../Paging/paging.pug
include ../Footer/footer.pug
