@import '@axa-fr/react-toolkit-core/src/bootstrap/af-bootstrap.scss';
@import '@axa-fr/react-toolkit-title/dist/title.scss';
@import '@axa-fr/react-toolkit-button/dist/button.scss';

.button-demo {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;

  .btn,
  .af-btn {
    margin: 0 1rem 1rem 0;
  }
}
