-var universes = ["auto", "habitation", "loisirs", "sante", "banque", "epargne", "entreprise", "collective", "iard", "patrimonial", "pros", "assurbanque"];

h1.af-title--content Liste des boutons

h2.af-subtitle AF-Button
.button-demo
  button.btn.af-btn Button AF
  button.btn.af-btn.af-btn--disabled Button AF Disabled
  button.btn.af-btn.af-btn--success Button AF success
  button.btn.af-btn.af-btn--danger Button AF danger

h2.af-subtitle AF-Button with left icon
.button-demo
  button.btn.af-btn.af-btn--hasiconLeft
    span.af-btn__text Button with left icon
    i.glyphicon.glyphicon-arrowthin-left
  button.btn.af-btn.af-btn--hasiconLeft.af-btn--disabled
    span.af-btn__text Button disabled with left icon
    i.glyphicon.glyphicon-arrowthin-left
  button.btn.af-btn.af-btn--hasiconLeft.af-btn--success
    span.af-btn__text Button success with left icon
    i.glyphicon.glyphicon-arrowthin-left
  button.btn.af-btn.af-btn--hasiconLeft.af-btn--danger
    span.af-btn__text Button danger with left icon
    i.glyphicon.glyphicon-arrowthin-left

h2.af-subtitle AF-Button with right icon
.button-demo
  button.btn.af-btn.af-btn--hasiconRight
    span.af-btn__text Button with right icon
    i.glyphicon.glyphicon-arrowthin-right
  button.btn.af-btn.af-btn--hasiconRight.af-btn--disabled
    span.af-btn__text Button disabled with right icon
    i.glyphicon.glyphicon-arrowthin-right
  button.btn.af-btn.af-btn--hasiconRight.af-btn--success
    span.af-btn__text Button success with right icon
    i.glyphicon.glyphicon-arrowthin-right
  button.btn.af-btn.af-btn--hasiconRight.af-btn--danger
    span.af-btn__text Button danger with right icon
    i.glyphicon.glyphicon-arrowthin-right

h2.af-subtitle AF-Button reverse
.button-demo
  button.btn.af-btn.af-btn--reverse(tabindex="-1") Button AF reverse
  button.btn.af-btn.af-btn--reverse.af-btn--disabled(tabindex="-1") Button AF disabled reverse

h2.af-subtitle AF-Button reverse with icon
.button-demo
  button.btn.af-btn.af-btn--reverse.af-btn--hasiconLeft(tabindex="-1")
    span.af-btn__text Button with left icon
    i.glyphicon.glyphicon-arrowthin-left
  button.btn.af-btn.af-btn--reverse.af-btn--hasiconRight(tabindex="-1")
    span.af-btn__text Button with right icon
    i.glyphicon.glyphicon-arrowthin-right
  button.btn.af-btn.af-btn--reverse.af-btn--hasiconLeft(tabindex="-1")
    span.af-btn__text Button with left icon
    i.glyphicon.glyphicon-globe
  button.btn.af-btn.af-btn--reverse.af-btn--disabled.af-btn--hasiconRight(tabindex="-1")
    span.af-btn__text Button disabled with right icon
    i.glyphicon.glyphicon-arrowthin-right

h2.af-subtitle AF-Button Small CTA
button.btn.af-btn.af-btn--small OK

h2.af-subtitle AF-Button Universes
.button-demo
  each universe in universes
    button.af-btn(class=`af-btn--${universe}`) #{universe}
