h2 Circle button
button.btn.af-btn--circle
  span.af-btn__wrapper i

h2 Circle button inverse
button.af-btn--circle.af-btn--circle-reverse
  span.af-btn__wrapper i

-var exemples = ["pushpin", "print", "arrow-xs-down", "heart", "eye-open", "menu-hamburger", "remove", "filter", "floppy-disk", "open"];

h2 Action button with Icon
.button-demo
  each ex in exemples
    a.btn.af-btn--circle(href="#" role="button" )
      i.glyphicon(class=`glyphicon-${ex}`)

h2 Action button small with Icon
.button-demo
  each ex in exemples
    a.btn.af-btn--circle--small(href="#" role="button" )
      i.glyphicon(class=`glyphicon-${ex}`)
