include ./mixin-form-message
include ./mixin-form-help
mixin formFieldText({ hasInfobulle= false, hasClear=false, modifier= '', textMessage= 'Aide à la saisie', modifierMessage='', iconMessage='', disabled=false})
  .af-form__text(class=(modifier !== '') ? ` af-form__text--${modifier}` : '' class=(hasInfobulle) ? ` af-form__text--hasinfobulle` : '')
    .af-form__text-wrapper
      input.af-form__input-text(class=(hasInfobulle) ? ` af-form__input-text--hasinfobulle` : '' name="inputtextname" type="text" disabled= disabled || null)
      if hasClear
        .af-form__clear(role="button" tabindex="-1")
          include ../../../pages/style/icons/templates/close.pug
      if hasInfobulle
        +formHelp()
      if modifier === "valid"
        include ../../../pages/style/icons/templates/ok.pug
    +formMessage({modifierMessage, textMessage, iconMessage})
