@import '../variables.scss';

.navbar {
  &--toolkit {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: $bgColor;
    color: $textColor;
    flex-direction: inherit;
    padding: .7rem 2rem .7rem 5rem;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    justify-content: space-between;
  }
}

.navbar-brand {
  margin: 0 1rem 0 0;
  padding: 0;
  font-weight: 600;
  letter-spacing: -1px;
}
