.af-home {
  &-logos {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-react {
    width: 200px;
    height: 200px;
  }
  &-storybook {
    width: 200px;
    height: 200px;
  }
}
