@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.af-modal {
  border: 1px solid #333;
  padding: 0;
  animation: appeardialog 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

  &::backdrop {
    animation: fademodal 0.1s linear;
    background: rgba($color-azur, 0.62);
  }

  &--lg {
    max-width: 800px;
  }

  &--sm {
    max-width: 300px;
  }

  &__content {
    background-color: $white;
    background-clip: padding-box;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid $gray-lighter;

    &-title {
      font-weight: inherit;
      margin-bottom: 0;
    }

    &-close-btn {
      font-size: 1rem;
      line-height: 1rem;
      border: none;
      box-shadow: none;
      background: none;
      padding: 0.5rem;

      &:hover {
        background-color: $gray-lighter;
      }

      .glyphicon-close {
        width: 17px;
      }
    }
  }

  &__body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid $gray-lighter;

    & > .af-btn:not(:last-child) {
      margin-right: 0.25rem;
    }

    & > .af-btn:not(:first-child) {
      margin-left: 0.25rem;
    }
  }
}

@include media-breakpoint-up(sm) {
  .af-modal {
    max-width: 500px;
    margin: 30px auto;

    &--sm {
      max-width: 300px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .af-modal {
    &--lg {
      max-width: 800px;
      margin: 30px auto;
    }
  }
}

@keyframes appeardialog {
  0% {
    top: -100%;
    opacity: 0;
  }

  0% {
    top: -100%;
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes fademodal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
