extends ../../../../components/form/layouts/layout-form-card
include ../../../../components/form/mixins/mixin-form-field-card

block input
  +formFieldCardGroup({meta:"Recommandé", active:true})
    +formFieldCard({modifier:'active', type:"radio", active:true, id: "1"})
