extends ../../../../components/form/layouts/layout-form-card-group
include ../../../../components/form/mixins/mixin-form-field-card

block input
  +formFieldCardGroup({meta:"Recommandé", active:true, title: "Franchisés standard"})
    +formFieldCard({name:'group2', modifier:'active', type:"radio", active:true, id: "2"})
    +formFieldCard({name:'group2', type:"radio", id: "3"})
