extends ../../../../components/form/layouts/layout-form-card
include ../../../../components/form/mixins/mixin-form-field-card

block input
  +formFieldCardGroup({})
    +formFieldCard({modifier:'disabled', id: "1", disabled: true})
