
.row
  .col.col-sm-12.col-md-12.col-lg-6.col-xl-3
    .af-form__group.row
      .col-md-3
        label.af-form__group-label(for="select1") Afficher
      .col-md-9
        .af-form__select
          select.af-form__input-select#select1(name="selectname")
            option.af-form__input-option(value="5") 5
            option.af-form__input-option(value="10") 10
            option.af-form__input-option(value="15") 15
            option.af-form__input-option(value="20") 20
          span.af-form__input-cmplt Eléments
  .col.col-sm-12.col-md-12.col-lg-6.col-xl-9
    nav.af-pager
      ul.af-pager__pagination
        li.af-pager__item
          a.af-pager__item-link(href="#")
            span.af-pager__item-icon &laquo;
            span.af-pager__item-text Pr&eacute;c&eacute;dent
        li.af-pager__item
          a.af-pager__item-link(href="#") 1
        li.af-pager__item.af-pager__item--disabled
          span.page-link ...
        li.af-pager__item
          a.af-pager__item-link(href="#") 4
        li.af-pager__item.af-pager__item--active
          a.af-pager__item-link(href="#") 5
        li.af-pager__item
          a.af-pager__item-link(href="#") 6
        li.af-pager__item.af-pager__item--disabled ...
        li.af-pager__item
          a.af-pager__item-link(href="#") 23
        li.af-pager__item
          a.af-pager__item-link(href="#")
            span.af-pager__item-text Suivant
            span.af-pager__item-icon &raquo;
