.col.col-sm-12.col-md-12.col-lg-12.col-xl-12
  article.af-restitution
    header.af-restitution__header
      .af-restitution__header-left
        .af-restitution__title
          span.af-restitution__title-title Décès en capital
          span.af-restitution__title-subtitle
            | Tout adhérent, assuré, base (sans EAC ou sans PAC)
      .af-restitution__header-right
        .af-restitution__title
          a.af-link.af-link--hasIconLeft(href="#")
            i.glyphicon.glyphicon-pencil
            span.af-link__text Modifier
    section.af-restitution__content
      .col.col-sm-12.col-md-12.col-lg-12.col-xl-12
        .af-restitution__content-title Base de calcul des prestations
      .col.col-sm-12.col-md-12.col-lg-12.col-xl-12
        .af-restitution__content-left.row
          .col-sm-12.col-md-12.col-lg-6.col-xl-6
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text Garanties complémentaires
              dd.af-restitution__listdef-value
                ul.af-restitution__listul
                  li.af-restitution__listul-item Vol au domicile
                  li.af-restitution__listul-item Vol étendu aux appareils nomades
                  li.af-restitution__listul-item Bris des glaces
                  li.af-restitution__listul-item Plomberie et électricité
                  li.af-restitution__listul-item Jardin
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text Couverture des biens
              dd.af-restitution__listdef-value
                ul.af-restitution__listul
                  li.af-restitution__listul-item Incendie et assimilés
                  li.af-restitution__listul-item Dégât des eaux
                  li.af-restitution__listul-item Evènements climatiques
                  li.af-restitution__listul-item Catastrophe naturelle ou technologique
                  li.af-restitution__listul-item Attentats et terrorisme
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text Franchise générale
              dd.af-restitution__listdef-value 250 €
          .col.col-sm-12.col-md-12.col-lg-6.col-xl-6
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text Accompagnement de l'assuré
              dd.af-restitution__listdef-value
                ul.af-restitution__listul
                  li.af-restitution__listul-item Responsabilité civile
                  li.af-restitution__listul-item Défense recours
                  li.af-restitution__listul-item Assistance urgence en déplacement
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text Valeur à neuf
              dd.af-restitution__listdef-value Pendant 5 ans
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text Services inclus
              dd.af-restitution__listdef-value
                ul.af-restitution__listul
                  li.af-restitution__listul-item Réseau entreprises agréées AXA
                  li.af-restitution__listul-item Avance aux frais de première nécessité
                  li.af-restitution__listul-item Services déménagement
