mixin GithubBtnStars({repoUrl, stargazers})
  span#github-btn.github-btn.github-stargazers
  a#gh-btn.gh-btn(href=repoUrl target='_blank' aria-label='Star on GitHub')
    span.gh-ico(aria-hidden='true')
    span#gh-text.gh-text Star
  a#gh-count.gh-count(href='https://github.com/vmware/clarity/stargazers' target='_blank' aria-label=`${stargazers} stargazers on GitHub`) #{stargazers}
