.af-drawer {
  position: absolute;
  right: 0;
  width: $drawer-width;
  height: 100%;
  margin: 0;
  transform: translateX(100%);
  z-index: 1;
  @include transition($drawer-transition);

  &.show {
    transform: translateX(0);
  }

  &.left {
    left: 0;
    transform: translateX(-100%);

    &.show {
      transform: translateX(0);
    }
  }
}
