@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.af-popover__container--custom {
  margin-top: 25px;
  margin-bottom: 25px;

  .af-popover {
    &__container-pop {
      width: 300px;
      background: white;
      box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.2);
      padding: 0;

      &[data-popper-placement^='top'] > .af-popover__arrow::before,
      &[data-popper-placement^='right'] > .af-popover__arrow::before,
      &[data-popper-placement^='left'] > .af-popover__arrow::before {
        background: white;
        box-shadow: -2px 0 5px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .af-help-demo {
    &__container {
      background: white;
      position: relative;
      z-index: 2;
    }

    &__title {
      border-radius: 3px 3px 0 0;
      background: $color-axa;
      color: white;
      padding: 0.5rem;
      font-size: 1.5rem;
      font-weight: 400;
    }

    &__infos {
      color: $color-texte;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &__info {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-weight: 200;

      &-number {
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }
}
