@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

$size-arrow: 16px;
$arrow-offset: -4px;
$padding-popover: 0.5rem;

.af-popover {
  &__wrapper {
    background: inherit;
    border: 0;
    padding: 0;
  }

  &__container {
    display: inline-block;

    &-pop {
      position: relative;
      background: $color-azur;
      color: $white;
      border-radius: 3px;
      padding: $padding-popover;
      z-index: 100;
      width: 260px;

      .af-subtitle {
        color: $white;
        font-size: 2em;

        &::after {
          display: none;
        }
      }
    }

    &--small {
      .af-btn {
        &--circle {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    .af-popover__arrow {
      width: $size-arrow;
      height: $size-arrow;
      position: absolute;
      z-index: -1;

      &::before {
        content: '';
        background: $color-azur;
        width: $size-arrow;
        height: $size-arrow;
        transform: rotate(45deg);
        position: absolute;
      }
    }

    [data-popper-placement^='top'] > .af-popover__arrow {
      bottom: $arrow-offset;
    }

    [data-popper-placement^='bottom'] > .af-popover__arrow {
      top: $arrow-offset;
    }

    [data-popper-placement^='right'] > .af-popover__arrow {
      left: $arrow-offset;
    }

    [data-popper-placement^='left'] > .af-popover__arrow {
      right: $arrow-offset;
    }
  }

  &-fade-in {
    animation: fadein 0.2s linear 1 forwards;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
