.af-form__group.af-form__group--label-top.row
  .col-md-2
    label.af-form__group-label(for="textarea1") Input Textarea *
  .col-md-10
    .af-form__textarea.af-form__textarea--error
      textarea.af-form__input-textarea(name="textarea1" rows="5" cols="50" placeholder="Texte long long long")
      small.af-form__message.af-form__message--error
        span.glyphicon.glyphicon-exclamation-sign
        span.af-form__error-text Message d'erreur
