.tk-block-demo
  ul.af-list
    li.af-list__item Olivier Youf
    li.af-list__item Arnaud Bernard
    li.af-list__item Guillaume Chervet
    li.af-list__item Samuel Gomez
    li.af-list__item Jean-Baptiste Rudant
    li.af-list__item Romain Petigny
