.tk-block-demo
  ul.af-list.af-list--check
    li.af-list__item
      span.glyphicon.glyphicon-ok
      |  CSS et SASS
    li.af-list__item
      span.glyphicon.glyphicon-ok
      |  ReactJS
    li.af-list__item
      span.glyphicon.glyphicon-ok
      |  ES6
    li.af-list__item
      span.glyphicon.glyphicon-ok
      |  GIT
    li.af-list__item
      span.glyphicon.glyphicon-ok
      |  Webpack
    li.af-list__item
      span.glyphicon.glyphicon-ok
      |  Typescript
    li.af-list__item
      span.glyphicon.glyphicon-ok
      |  ReasonML
