.tk-block-demo
  ul.af-list.af-list--check
    li.af-list__item
      include ../../../guidelines/icones/templates/ok.pug
      |  CSS et SASS
    li.af-list__item
      include ../../../guidelines/icones/templates/ok.pug
      |  ReactJS
    li.af-list__item
      include ../../../guidelines/icones/templates/ok.pug
      |  ES6
    li.af-list__item
      include ../../../guidelines/icones/templates/ok.pug
      |  GIT
    li.af-list__item
      include ../../../guidelines/icones/templates/ok.pug
      |  Webpack
    li.af-list__item
      include ../../../guidelines/icones/templates/ok.pug
      |  Typescript
    li.af-list__item
      include ../../../guidelines/icones/templates/ok.pug
      |  ReasonML
