.af-footer-client__bottom
  .af-container
    .af-languageSelection
      h3.af-languageSelection__title  Languages:
      ul.af-languageSelection__list
        li.af-languageSelection__item.af-languageSelection__item--active
          button.af-languageSelection__item-button English
        li.af-languageSelection__item
          button.af-languageSelection__item-button Chinese
    .af-footer-client__policy Policy Privacy © 2020 AXA All Rights Reserved
