.af-footer-client__column
  h3.af-footer-client__column-title Follow AXA
  ul.af-footer-client__column-items
    ul.social-network__list
      li.social-network__item
        a.social-network__link(href="facebook")
          i.social-network__icon.glyphicon.glyphicon-facebook
      li.social-network__item
        a.social-network__link(href="linkedin-logo")
          i.social-network__icon.glyphicon.glyphicon-linkedin-logo
      li.social-network__item
        a.social-network__link(href="youtube-symbol")
          i.social-network__icon.glyphicon.glyphicon-youtube-symbol
      li.social-network__item
        a.social-network__link(href="instagram")
          i.social-network__icon.glyphicon.glyphicon-instagram
      li.social-network__item
        a.social-network__link(href="twitter-logo-silhouette")
          i.social-network__icon.glyphicon.glyphicon-twitter-logo-silhouette
