.af-footer-client__column
  h3.af-footer-client__column-title Follow AXA
  ul.af-footer-client__column-items
    ul.social-network__list
      li.social-network__item
        a.social-network__link(href="facebook")
          include ../../../style/icons/templates/facebook.pug
      li.social-network__item
        a.social-network__link(href="linkedin-logo")
          include ../../../style/icons/templates/linkedin-logo.pug
      li.social-network__item
        a.social-network__link(href="youtube-symbol")
          include ../../../style/icons/templates/youtube-symbol.pug
      li.social-network__item
        a.social-network__link(href="instagram")
          include ../../../style/icons/templates/instagram.pug
      li.social-network__item
        a.social-network__link(href="twitter-logo-silhouette")
          include ../../../style/icons/templates/twitter-logo-silhouette.pug
