.af-footer-client__column
  h3.af-footer-client__column-title Follow AXA
  ul.af-footer-client__column-items
    ul.social-network__list
      li.social-network__item
        a.social-network__link(href="https://www.facebook.com/axafrance")
          include ../../../guidelines/icones/templates/facebook.pug
      li.social-network__item
        a.social-network__link(href="https://www.linkedin.com/company/237118/")
          include ../../../guidelines/icones/templates/linkedin-logo.pug
      li.social-network__item
        a.social-network__link(href="https://www.youtube.com/user/AXAFranceChaine")
          include ../../../guidelines/icones/templates/youtube-symbol.pug
      li.social-network__item
        a.social-network__link(href="https://www.linkedin.com/company/237118/")
          include ../../../guidelines/icones/templates/instagram.pug
      li.social-network__item
        a.social-network__link(href="https://twitter.com/GuildDEvOpen")
          include ../../../guidelines/icones/templates/twitter-logo-silhouette.pug
