footer.af-footer
  .container-fluid.container
    a.af-logo(href="https://www.axa.fr/" title="Site Axa" target="blank" )
      img.af-logo__brand(src="assets/logo-axa.svg" alt="Logo Axa")
    .af-footer-content
      | @ 2018 AXA Tous droits réservés
