extends ../../../../components/form/layouts/layout-form-field
include ../../../../components/form/mixins/mixin-form-field-select

block label
  label.af-form__group-label(for="datepicker") Input DatePicker *

block input
  .af-datepicker__container
    .react-datepicker-wrapper
      .react-datepicker__input-container
        input#uniqueid.af-datepicker.react-datepicker-ignore-onclickoutside(type='text', name='placeName', value='11/26/2017')
    include ./popper
    include ../../../guidelines/icones/templates/calendar.pug
