.react-datepicker-popper(style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(155px, 0px, 0px);', data-placement='right-start')
  .react-datepicker
    .react-datepicker__triangle
    button.react-datepicker__navigation.react-datepicker__navigation--previous(type='button') Previous Month
    button.react-datepicker__navigation.react-datepicker__navigation--next.react-datepicker__navigation--next--with-today-button(type='button') Next month
    .react-datepicker__month-container
      .react-datepicker__header
        .react-datepicker__current-month.react-datepicker__current-month--hasYearDropdown.react-datepicker__current-month--hasMonthDropdown novembre 2017
        .react-datepicker__header__dropdown.react-datepicker__header__dropdown--scroll
          .react-datepicker__month-dropdown-container.react-datepicker__month-dropdown-container--scroll
            .react-datepicker__month-read-view(style='visibility: visible;')
              span.react-datepicker__month-read-view--down-arrow
              span.react-datepicker__month-read-view--selected-month novembre
          .react-datepicker__year-dropdown-container.react-datepicker__year-dropdown-container--scroll
            .react-datepicker__year-read-view(style='visibility: visible;')
              span.react-datepicker__year-read-view--down-arrow
              span.react-datepicker__year-read-view--selected-year 2017
        .react-datepicker__day-names
          .react-datepicker__day-name lu
          .react-datepicker__day-name ma
          .react-datepicker__day-name me
          .react-datepicker__day-name je
          .react-datepicker__day-name ve
          .react-datepicker__day-name sa
          .react-datepicker__day-name di
      .react-datepicker__month(role='listbox', aria-label='month-2017-11')
        .react-datepicker__week
          .react-datepicker__day.react-datepicker__day--mon.react-datepicker__day--outside-month(aria-label='day-30', role='option') 30
          .react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--outside-month(aria-label='day-31', role='option') 31
          .react-datepicker__day.react-datepicker__day--wed(aria-label='day-1', role='option') 1
          .react-datepicker__day.react-datepicker__day--thu(aria-label='day-2', role='option') 2
          .react-datepicker__day.react-datepicker__day--fri(aria-label='day-3', role='option') 3
          .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--weekend(aria-label='day-4', role='option') 4
          .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--weekend(aria-label='day-5', role='option') 5
        .react-datepicker__week
          .react-datepicker__day.react-datepicker__day--mon(aria-label='day-6', role='option') 6
          .react-datepicker__day.react-datepicker__day--tue(aria-label='day-7', role='option') 7
          .react-datepicker__day.react-datepicker__day--wed(aria-label='day-8', role='option') 8
          .react-datepicker__day.react-datepicker__day--thu(aria-label='day-9', role='option') 9
          .react-datepicker__day.react-datepicker__day--fri(aria-label='day-10', role='option') 10
          .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--weekend(aria-label='day-11', role='option') 11
          .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--weekend(aria-label='day-12', role='option') 12
        .react-datepicker__week
          .react-datepicker__day.react-datepicker__day--mon(aria-label='day-13', role='option') 13
          .react-datepicker__day.react-datepicker__day--tue(aria-label='day-14', role='option') 14
          .react-datepicker__day.react-datepicker__day--wed(aria-label='day-15', role='option') 15
          .react-datepicker__day.react-datepicker__day--thu(aria-label='day-16', role='option') 16
          .react-datepicker__day.react-datepicker__day--fri(aria-label='day-17', role='option') 17
          .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--weekend(aria-label='day-18', role='option') 18
          .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--weekend(aria-label='day-19', role='option') 19
        .react-datepicker__week
          .react-datepicker__day.react-datepicker__day--mon(aria-label='day-20', role='option') 20
          .react-datepicker__day.react-datepicker__day--tue(aria-label='day-21', role='option') 21
          .react-datepicker__day.react-datepicker__day--wed(aria-label='day-22', role='option') 22
          .react-datepicker__day.react-datepicker__day--thu(aria-label='day-23', role='option') 23
          .react-datepicker__day.react-datepicker__day--fri(aria-label='day-24', role='option') 24
          .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--weekend(aria-label='day-25', role='option') 25
          .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--selected.react-datepicker__day--weekend(aria-label='day-26', role='option') 26
        .react-datepicker__week
          .react-datepicker__day.react-datepicker__day--mon(aria-label='day-27', role='option') 27
          .react-datepicker__day.react-datepicker__day--tue(aria-label='day-28', role='option') 28
          .react-datepicker__day.react-datepicker__day--wed(aria-label='day-29', role='option') 29
          .react-datepicker__day.react-datepicker__day--thu(aria-label='day-30', role='option') 30
          .react-datepicker__day.react-datepicker__day--fri.react-datepicker__day--outside-month(aria-label='day-1', role='option') 1
          .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--weekend.react-datepicker__day--outside-month(aria-label='day-2', role='option') 2
          .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--weekend.react-datepicker__day--outside-month(aria-label='day-3', role='option') 3
        .react-datepicker__week
          .react-datepicker__day.react-datepicker__day--mon.react-datepicker__day--outside-month(aria-label='day-4', role='option') 4
          .react-datepicker__day.react-datepicker__day--tue.react-datepicker__day--outside-month(aria-label='day-5', role='option') 5
          .react-datepicker__day.react-datepicker__day--wed.react-datepicker__day--outside-month(aria-label='day-6', role='option') 6
          .react-datepicker__day.react-datepicker__day--thu.react-datepicker__day--outside-month(aria-label='day-7', role='option') 7
          .react-datepicker__day.react-datepicker__day--fri.react-datepicker__day--outside-month(aria-label='day-8', role='option') 8
          .react-datepicker__day.react-datepicker__day--sat.react-datepicker__day--weekend.react-datepicker__day--outside-month(aria-label='day-9', role='option') 9
          .react-datepicker__day.react-datepicker__day--sun.react-datepicker__day--weekend.react-datepicker__day--outside-month(aria-label='day-10', role='option') 10
    .react-datepicker__today-button Aujourd'hui