.col.col-sm-12.col-md-12.col-lg-12.col-xl-12
  article.af-restitution
    header.af-restitution__header
      .af-restitution__header-left
        .af-restitution__title
          span.af-restitution__title-title Décès en capital
          span.af-restitution__title-subtitle
            | Tout adhérent, assuré, base (sans EAC ou sans PAC)
      .af-restitution__header-right
        span.af-restitution__title
          a.af-link.af-link--hasIconLeft(href="#")
            i.glyphicon.glyphicon-pencil
            span.af-link__text Modifier
    section.af-restitution__content
      .col.col-sm-12.col-md-12.col-lg-6.col-xl-6
        .af-restitution__content-title Base de calcul des prestations
        .af-restitution__content-left--borderRight.row
          .col-sm-12.col-md-12.col-lg-6.col-xl-6
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text TA
              dd.af-restitution__listdef-value 99,9999999 %
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text PASS
              dd.af-restitution__listdef-value 99,9999999 %
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text EURO
              dd.af-restitution__listdef-value 1 000 000 €
            dl.af-restitution__listdef.af-restitution__listdef--marge
              dt.af-restitution__listdef-item
                span.af-restitution__text Salaire brut
              dd.af-restitution__listdef-value 99,99 %
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text Assuré âge max
              dd.af-restitution__listdef-value 27
          .col-sm-12.col-md-12.col-lg-6.col-xl-6
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text TA
              dd.af-restitution__listdef-value 99,9999999 %
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text PASS
              dd.af-restitution__listdef-value 99,99 %
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text EURO
              dd.af-restitution__listdef-value 1 000 000 €
            dl.af-restitution__listdef.af-restitution__listdef--marge
              dt.af-restitution__listdef-item
                span.af-restitution__text Salaire brut
              dd.af-restitution__listdef-value 99,99 %
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text Assuré âge max
              dd.af-restitution__listdef-value 27
      .col.col-sm-12.col-md-12.col-lg-6.col-xl-6
        .af-restitution__content-title Plancher et Plafond
        .af-restitution__content-right.row
          .col-sm-12.col-md-12.col-lg-6.col-xl-6
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text TA
              dd.af-restitution__listdef-value 99,99 %
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text PASS
              dd.af-restitution__listdef-value 99,99 %
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text EURO
              dd.af-restitution__listdef-value 1 000 000 €
            dl.af-restitution__listdef.af-restitution__listdef--marge
              dt.af-restitution__listdef-item
                span.af-restitution__text Salaire brut
              dd.af-restitution__listdef-value 99,99 %
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text Assuré âge max
              dd.af-restitution__listdef-value 27
          .col-sm-12.col-md-12.col-lg-6.col-xl-6
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text TA
              dd.af-restitution__listdef-value 99,99 %
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text PASS
              dd.af-restitution__listdef-value 99,99 %
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text EURO
              dd.af-restitution__listdef-value 1 000 000 €
            dl.af-restitution__listdef.af-restitution__listdef--marge
              dt.af-restitution__listdef-item
                span.af-restitution__text Salaire brut
              dd.af-restitution__listdef-value 99,99 %
            dl.af-restitution__listdef
              dt.af-restitution__listdef-item
                span.af-restitution__text Assuré âge max
              dd.af-restitution__listdef-value 27
