.button-demo
  .fordemo
    span.af-badge.af-badge--info Info
  .fordemo
    span.af-badge.af-badge--error Error
  .fordemo
    span.af-badge.af-badge--danger Danger
  .fordemo
    span.af-badge.af-badge--success Success
