*,
*:before,
*:after {
  box-sizing: border-box;
}

.#{$prefix} {
  &-html {
    font-size: 1rem;
    font-family: $font-family-base;
    color: $color-scorpion;
    letter-spacing: 0.01em;
    min-width: $width-mobile;
  }
}

/* TODO A reporter sur le toolkit */

.af-container {
  //@include make-container-max-widths();
  padding: 0 2em;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $color-axa;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: $color-burnt-sienna;
  }
}

body {
  margin: 0;
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
