
nav.af-pager
  ul.af-pager__pagination
    li.af-pager__item
      a.af-pager__item-link(href="#")
        span.af-pager__item-icon &laquo;
        span.af-pager__item-text Pr&eacute;c&eacute;dent
    li.af-pager__item
      a.af-pager__item-link(href="#") 1
    li.af-pager__item.af-pager__item--disabled
      span.af-pager__item-link ...
    li.af-pager__item
      a.af-pager__item-link(href="#") 4
    li.af-pager__item.af-pager__item--active
      a.af-pager__item-link(href="#") 5
    li.af-pager__item
      a.af-pager__item-link(href="#") 6
    li.af-pager__item.af-pager__item--disabled ...
    li.af-pager__item
      a.af-pager__item-link(href="#") 23
    li.af-pager__item
      a.af-pager__item-link(href="#")
        span.af-pager__item-text Suivant
        span.af-pager__item-icon &raquo;
