.af-filter {
  line-height: 1.3;

  .af-btn--ok {
    padding: .625rem 1rem;
    min-width: inherit;
    vertical-align: top;
  }

  .af-panel {
    border: 0;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .625rem .9375rem;
      border-bottom: none;

      .glyphicon {
        position: relative;
        transform: inherit;
        top: inherit;
        right: inherit;
      }
    }

    &__reset {
      color: $white;
    }

    &__title {
      font-weight: normal;
    }

    &__content {
      padding: 0;
    }
  }

  &-selected {
    background: $color-filter-selected-background;
    list-style: none;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;

    &__item {
      margin-right: .5rem;
      min-width: inherit;
      background: $white;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-text {
        padding: .25rem 1.438rem .25rem .8125rem;
        font-size: 1rem;
        font-weight: normal;
        color: $color-filter-selected-text;
      }

      .glyphicon-close {
        margin-right: .3125rem;
        color: $color-filter-selected-glyphicon-close;
        cursor: pointer;
      }
    }
  }

  .af-accordion {
    border: 0;

    .af-form__input-text {
      margin: 0;
    }

    &__item {
      border: 0;
      margin-bottom: 0;
      border-bottom: 1px solid $color-silver;

      &:nth-last-child(1) {
        border: 0;
      }

      &-header {
        background: $white;
        color: $color-scorpion;
      }

      &-title {
        color: $color-scorpion;
        font-weight: 200;
        font-size: 1.4em;
      }

      &-toggle {
        color: $color-scorpion;
        padding-left: .8rem;
        font-size: 1rem;
      }
    }

    &__collapse {
      background: $color-wild-sand;
      color: $color-scorpion;
      border: none;
    }
  }
}
