-const levels = ["","bad", "okay", "good", "verygood", "excellent"]
each level in levels
  .af-form__group.row(class=(level !== "") ? `af-form__group--${level}` : "")
    .col-md-2
      label.af-form__group-label(for="inputpassword") Input password *
    .col-md-10
      .af-form__pass-container
        .af-form__pass.af-form__pass--hasinfobulle(class=(level !== "") ? `af-form__pass--${level}` : "")
          .af-form__pass-strength
          input#uniqueid.af-form__input-text(name="inputpassword" value="" tabindex="" type="password")
          button.af-form__pass-btn(type="button")
            i.glyphicon.glyphicon-eye-open
        .af-popover__container
          .af-popover__container-over
            button.af-btn--circle-small
              span.af-more-help i
        small.af-form__help 8 caractères minimum