-const listAccordion = [{title:"Socle de garantie", id:"One", active: true },{title:"Socle de garantie 2", id:"Two"}, {title:"Socle de garantie 3", id:"Three"}];
-const listSample = ["Lorem ipsum dolor sit amet, consectetur adipisicing elit.", "<p>Te Lorem ipsum dolor sit amet, consectetur adipisicing elit.st<p><strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong>", "<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.<p><strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong>"]
