extends ../../../../components/form/layouts/layout-form-textarea

block label
  label.af-form__group-label(for="textarea1") Input Textarea *

block input
  .af-form__textarea.af-form__textarea--success
    textarea.af-form__input-textarea(name="textarea1" rows="5" cols="50" placeholder="Texte long long long")
