extends ../../../commons/layout

block meta
  -var activePath = '/style/colors';
  -const { metatitle, metadescription, metakeywords, github, storybook, badge, colors } = require(`../src/pages${activePath}/data.json`)  
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../../'
  //-const colors = require('@axa-fr/react-toolkit-core/src/common/scss/colorsList.js');

block vars
  - var id = "component"

block menu
  +Menu({ activePath })

block page
  +PageTitle({ title: 'Colors', subtitle: 'Style' })
  .tk-page__links
    +PageLinks({github, storybook, badge})
  .tk-page__content
    include ./templates/classic
