extends ../../commons/layout

block vars
  - var id = "getstarted"

block meta
  -const { metatitle, metadescription, metakeywords } = require('../src/pages/get-started/meta.json')
  -var metaTitle = metatitle
  -var metaDescription = metadescription
  -var metaKeywords = metakeywords
  -var basedir='../'
block menu
  +Menu({activePath:'/get-started'})
block page
  +PageTitle({ title: 'Get started' })
  +PageContent()
    +PageMarkdown()
      include:markdown-it ./markdown/content.md
