.af-form__group.row
  .col-md-2
    label.af-form__group-label(for="select5") Inline fields *
  .col-md-10.af-form__fields-inline
    .af-form__select.af-form__select--error.af-form__input-inline
      .af-form__select-container
        select.af-form__input-select#select5(name="selectname")
          option(value="0") -Sélectionner-
          option(value="1") Option 1
          option(value="2") Option 2
          option(value="3") Option 3
          option(value="4") Option 4
        span.glyphicon.glyphicon-menu-down
      small.af-form__message.af-form__message--error
        span.glyphicon.glyphicon-exclamation-sign
        span.af-form__error-text Message d'erreur
    .af-form__text-container
      .af-form__text.af-form__text--error
        input.af-form__input-text.af-form__input-text--hasinfobulle#inputtext2(name="inputtextname2" type="text")
        button.af-btn--circle-small
          span.af-more-help i
      small.af-form__message.af-form__message--error
        span.glyphicon.glyphicon-exclamation-sign
        span.af-form__error-text Message d'erreur
