.af-form__group.row
  .col-md-2
    label.af-form__group-label(for="select1") Input Select *
  .col-md-10
    .af-form__select.af-form__select--error
      .af-form__select-container
        select.af-form__input-select#select1(name="selectname")
          option(value="0") -Sélectionner-
          option(value="1") Option 1
          option(value="2") Option 2
          option(value="3") Option 3
          option(value="4") Option 4
        span.glyphicon.glyphicon-menu-down
      small.af-form__message.af-form__message--error
        span.glyphicon.glyphicon-exclamation-sign
        span.af-form__error-text Message d'erreur
