@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.af-hightlight {
  &__text {
    background-color: $color-axa;
    color: $white;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    display: inline-block;

    &--pink {
      background-color: $color-highlightpink;
    }
  }
}
