.af-title-bar
  .af-title-bar__wrapper.af-container
    button.af-btn-circle.af-title-bar__mobile-menu
      .af-btn__wrapper
        i.af-title-bar__icon.glyphicon.glyphicon-menu-hamburger
    h1.af-title-bar__title
      | Toolkit AXA
      small.af-title-bar__subtitle Sous titre
    .af-title-bar__actions
      a.af-title-bar__link(href="#lien" title="lien titlebar") lien titlebar
      a.af-btn-circle(href="#enregistrer" title="Enregistrer" role="button" tabindex="0")
        i.glyphicon.glyphicon-floppy-disk
      a.af-btn-circle(href="#imprimer" title="Imprimer" role="button" tabindex="0")
        i.glyphicon.glyphicon-print
