@import '@axa-fr/react-toolkit-layout-header/dist/Title/title-bar.scss';

.af-title-bar {
  &--backhome {
    .af-title-bar {
      &__wrapper {
        justify-content: flex-start;
        .af-title-bar__title {
          margin-left: 1em;
        }
      }
    }
  }
  &--hasstepper {
    margin-bottom: 0;
  }
}
