@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.af-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: $white;

  thead .af-table__th:not(:last-child) {
    border-right: 1px solid white;
  }

  tbody .af-table__tr:not(:last-child) .af-table__th {
    border-bottom: 1px solid white;
  }

  &__th {
    height: 100%;
    color: $white;
    background: $color-azur;
    font-size: 1rem;
    text-align: left;
    position: relative;
    padding: 1rem;
    font-weight: $table-head-font-weight;
    &--sortable {
      padding: 0;
    }

    .af-link {
      color: $white;

      &:hover {
        color: $white;
      }
    }

    .glyphicon {
      font-size: 0.7rem;
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translate(0, -50%);
    }
  }

  &__tr {
    height: 100%;

    &:nth-child(2n + 1) {
      .af-table {
        &__cell {
          background-color: $color-wild-sand;
        }
      }
    }
  }

  &__cell {
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    border: 1px solid transparent;
    border-right-color: $color-silver;
    text-align: left;

    &:nth-last-child(1) {
      border-right: 0;
    }
  }

  /* Legacy old version */
  @include generate-universes() {
    .af-table__thead {
      background-color: $color;
      color: $table-inverse-color;
      .af-table__tr {
        .af-table__th {
          background-color: $color;
          color: $table-inverse-color;
        }
      }
    }
  }
}

/* CUSTOM mixin : shadow scroll horizontal & vertical *************************************************/

@mixin scroll-horizontal-shadow($maxWidth: 100%) {
  max-width: $maxWidth;
  overflow: auto;
  background: linear-gradient(
        90deg,
        rgba(255, 255, 245, 0.6) 30%,
        rgba(255, 255, 255, 0)
      )
      left center,
    linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 245, 0.6) 80%)
      right center,
    radial-gradient(
        farthest-side at 0 50%,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0)
      )
      0 50%,
    radial-gradient(
        farthest-side at 100% 50%,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0)
      )
      right center;
  background-repeat: no-repeat;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-attachment: local, local, scroll, scroll;
}

@include media-breakpoint-down(xs) {
  .af-table__tr:nth-child(2n + 1) .af-table__cell {
    background-color: rgba($color-gray-1, 0.5);
  }
  .af-table {
    display: block;
    margin: 0 auto;
    @include scroll-horizontal-shadow(100%);
  }
}
