@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

/* Legacy old version */
.af-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: $white;

  &-th {
    font-weight: $table-head-font-weight;
  }
  @include generate-universes() {
    .af-table-thead {
      background-color: $color;
      color: $table-inverse-color;
    }
  }

  &__th {
    height: 100%;
    color: $white;
    background: $color-azur;
    box-shadow: 0 0 1px 1px $white;
    font-size: 1rem;
    text-align: left;
    position: relative;
    padding: 1rem;
    font-weight: $table-head-font-weight;

    .af-link {
      color: $white;

      &:hover {
        color: $white;
      }
    }

    .glyphicon {
      font-size: 0.7rem;
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translate(0, -50%);
    }

    &--sortable {
      padding: 0;
    }
  }

  &__tr {
    height: 100%;

    &:nth-child(2n + 1) {
      .af-table {
        &__cell {
          background-color: $color-wild-sand;
        }
      }
    }
  }

  &__cell {
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    border: 1px solid transparent;
    border-right-color: $color-silver;
    text-align: left;

    &:nth-last-child(1) {
      border-right: 0;
    }
  }
  @include generate-universes() {
    .af-table-thead {
      .af-table__tr {
        .af-table__th {
          background-color: $color;
          color: $table-inverse-color;
        }
      }
    }
  }
}
