.glyphicon {
	font-family:"icons";
  position: relative;
  top: 0;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.glyphicon-adjust:before {
	content:"\f101";
}


.glyphicon-alert:before {
	content:"\f102";
}


.glyphicon-align-center:before {
	content:"\f103";
}


.glyphicon-align-justify:before {
	content:"\f104";
}


.glyphicon-align-left:before {
	content:"\f105";
}


.glyphicon-align-right:before {
	content:"\f106";
}


.glyphicon-all:before {
	content:"\f107";
}


.glyphicon-apple:before {
	content:"\f108";
}


.glyphicon-arrow-down:before {
	content:"\f109";
}


.glyphicon-arrow-left:before {
	content:"\f10a";
}


.glyphicon-arrow-right:before {
	content:"\f10b";
}


.glyphicon-arrow-up:before {
	content:"\f10c";
}


.glyphicon-arrow-xs-down:before {
	content:"\f10d";
}


.glyphicon-arrow-xs-left:before {
	content:"\f10e";
}


.glyphicon-arrow-xs-right:before {
	content:"\f10f";
}


.glyphicon-arrow-xs-up:before {
	content:"\f110";
}


.glyphicon-asterisk:before {
	content:"\f111";
}


.glyphicon-auto:before {
	content:"\f112";
}


.glyphicon-axa-switch:before {
	content:"\f113";
}


.glyphicon-baby-formula:before {
	content:"\f114";
}


.glyphicon-backward:before {
	content:"\f115";
}


.glyphicon-ban-circle:before {
	content:"\f116";
}


.glyphicon-bank:before {
	content:"\f117";
}


.glyphicon-barcode:before {
	content:"\f118";
}


.glyphicon-bed:before {
	content:"\f119";
}


.glyphicon-bell:before {
	content:"\f11a";
}


.glyphicon-bishop:before {
	content:"\f11b";
}


.glyphicon-bitcoin:before {
	content:"\f11c";
}


.glyphicon-blackboard:before {
	content:"\f11d";
}


.glyphicon-bold:before {
	content:"\f11e";
}


.glyphicon-book:before {
	content:"\f11f";
}


.glyphicon-bookmark:before {
	content:"\f120";
}


.glyphicon-briefcase-add:before {
	content:"\f121";
}


.glyphicon-briefcase-cup:before {
	content:"\f122";
}


.glyphicon-briefcase-ok:before {
	content:"\f123";
}


.glyphicon-briefcase-wait:before {
	content:"\f124";
}


.glyphicon-briefcase:before {
	content:"\f125";
}


.glyphicon-bullhorn:before {
	content:"\f126";
}


.glyphicon-calendar:before {
	content:"\f127";
}


.glyphicon-camera:before {
	content:"\f128";
}


.glyphicon-cd:before {
	content:"\f129";
}


.glyphicon-certificate:before {
	content:"\f12a";
}


.glyphicon-check:before {
	content:"\f12b";
}


.glyphicon-chevron-down:before {
	content:"\f12c";
}


.glyphicon-chevron-left:before {
	content:"\f12d";
}


.glyphicon-chevron-right:before {
	content:"\f12e";
}


.glyphicon-chevron-up:before {
	content:"\f12f";
}


.glyphicon-circle-arrow-down:before {
	content:"\f130";
}


.glyphicon-circle-arrow-left:before {
	content:"\f131";
}


.glyphicon-circle-arrow-right:before {
	content:"\f132";
}


.glyphicon-circle-arrow-up:before {
	content:"\f133";
}


.glyphicon-close:before {
	content:"\f134";
}


.glyphicon-cloud-download:before {
	content:"\f135";
}


.glyphicon-cloud-upload:before {
	content:"\f136";
}


.glyphicon-cloud:before {
	content:"\f137";
}


.glyphicon-cog:before {
	content:"\f138";
}


.glyphicon-collapse-down:before {
	content:"\f139";
}


.glyphicon-collapse-up:before {
	content:"\f13a";
}


.glyphicon-comment:before {
	content:"\f13b";
}


.glyphicon-compressed:before {
	content:"\f13c";
}


.glyphicon-console:before {
	content:"\f13d";
}


.glyphicon-copy:before {
	content:"\f13e";
}


.glyphicon-copyright-mark:before {
	content:"\f13f";
}


.glyphicon-credit-card:before {
	content:"\f140";
}


.glyphicon-cutlery:before {
	content:"\f141";
}


.glyphicon-dashboard:before {
	content:"\f142";
}


.glyphicon-download-alt:before {
	content:"\f143";
}


.glyphicon-download:before {
	content:"\f144";
}


.glyphicon-duplicate:before {
	content:"\f145";
}


.glyphicon-earphone:before {
	content:"\f146";
}


.glyphicon-edit:before {
	content:"\f147";
}


.glyphicon-education:before {
	content:"\f148";
}


.glyphicon-eject:before {
	content:"\f149";
}


.glyphicon-envelope:before {
	content:"\f14a";
}


.glyphicon-equalizer:before {
	content:"\f14b";
}


.glyphicon-erase:before {
	content:"\f14c";
}


.glyphicon-euro-symbol:before {
	content:"\f14d";
}


.glyphicon-exclamation-sign:before {
	content:"\f14e";
}


.glyphicon-expand:before {
	content:"\f14f";
}


.glyphicon-export:before {
	content:"\f150";
}


.glyphicon-eye-close:before {
	content:"\f151";
}


.glyphicon-eye-open:before {
	content:"\f152";
}


.glyphicon-facetime-video:before {
	content:"\f153";
}


.glyphicon-fast-backward:before {
	content:"\f154";
}


.glyphicon-fast-forward:before {
	content:"\f155";
}


.glyphicon-file-doc:before {
	content:"\f156";
}


.glyphicon-file-pdf:before {
	content:"\f157";
}


.glyphicon-file-xls:before {
	content:"\f158";
}


.glyphicon-file:before {
	content:"\f159";
}


.glyphicon-film:before {
	content:"\f15a";
}


.glyphicon-filter:before {
	content:"\f15b";
}


.glyphicon-fire:before {
	content:"\f15c";
}


.glyphicon-flag:before {
	content:"\f15d";
}


.glyphicon-flash:before {
	content:"\f15e";
}


.glyphicon-floppy-disk:before {
	content:"\f15f";
}


.glyphicon-floppy-open:before {
	content:"\f160";
}


.glyphicon-floppy-remove:before {
	content:"\f161";
}


.glyphicon-floppy-save:before {
	content:"\f162";
}


.glyphicon-floppy-saved:before {
	content:"\f163";
}


.glyphicon-folder-close:before {
	content:"\f164";
}


.glyphicon-folder-open:before {
	content:"\f165";
}


.glyphicon-font:before {
	content:"\f166";
}


.glyphicon-forward:before {
	content:"\f167";
}


.glyphicon-france:before {
	content:"\f168";
}


.glyphicon-fullscreen:before {
	content:"\f169";
}


.glyphicon-gbp:before {
	content:"\f16a";
}


.glyphicon-gift:before {
	content:"\f16b";
}


.glyphicon-glass:before {
	content:"\f16c";
}


.glyphicon-globe:before {
	content:"\f16d";
}


.glyphicon-grain:before {
	content:"\f16e";
}


.glyphicon-hand-down:before {
	content:"\f16f";
}


.glyphicon-hand-left:before {
	content:"\f170";
}


.glyphicon-hand-right:before {
	content:"\f171";
}


.glyphicon-hand-up:before {
	content:"\f172";
}


.glyphicon-hd-video:before {
	content:"\f173";
}


.glyphicon-hdd:before {
	content:"\f174";
}


.glyphicon-header:before {
	content:"\f175";
}


.glyphicon-headphone:before {
	content:"\f176";
}


.glyphicon-heart-empty:before {
	content:"\f177";
}


.glyphicon-heart:before {
	content:"\f178";
}


.glyphicon-home:before {
	content:"\f179";
}


.glyphicon-hourglass:before {
	content:"\f17a";
}


.glyphicon-import:before {
	content:"\f17b";
}


.glyphicon-imprimer:before {
	content:"\f17c";
}


.glyphicon-inbox:before {
	content:"\f17d";
}


.glyphicon-indent-left:before {
	content:"\f17e";
}


.glyphicon-indent-right:before {
	content:"\f17f";
}


.glyphicon-info-sign:before {
	content:"\f180";
}


.glyphicon-italic:before {
	content:"\f181";
}


.glyphicon-king:before {
	content:"\f182";
}


.glyphicon-knight:before {
	content:"\f183";
}


.glyphicon-lamp:before {
	content:"\f184";
}


.glyphicon-leaf:before {
	content:"\f185";
}


.glyphicon-level-up:before {
	content:"\f186";
}


.glyphicon-link:before {
	content:"\f187";
}


.glyphicon-list-alt:before {
	content:"\f188";
}


.glyphicon-list:before {
	content:"\f189";
}


.glyphicon-lock:before {
	content:"\f18a";
}


.glyphicon-log-in:before {
	content:"\f18b";
}


.glyphicon-log-out:before {
	content:"\f18c";
}


.glyphicon-lolly-tasted:before {
	content:"\f18d";
}


.glyphicon-lolly:before {
	content:"\f18e";
}


.glyphicon-magnet:before {
	content:"\f18f";
}


.glyphicon-map-marker:before {
	content:"\f190";
}


.glyphicon-menu-down:before {
	content:"\f191";
}


.glyphicon-menu-hamburger:before {
	content:"\f192";
}


.glyphicon-menu-left:before {
	content:"\f193";
}


.glyphicon-menu-right:before {
	content:"\f194";
}


.glyphicon-menu-up:before {
	content:"\f195";
}


.glyphicon-minus-sign:before {
	content:"\f196";
}


.glyphicon-minus:before {
	content:"\f197";
}


.glyphicon-modal-window:before {
	content:"\f198";
}


.glyphicon-move:before {
	content:"\f199";
}


.glyphicon-music:before {
	content:"\f19a";
}


.glyphicon-new-window:before {
	content:"\f19b";
}


.glyphicon-object-align-bottom:before {
	content:"\f19c";
}


.glyphicon-object-align-horizontal:before {
	content:"\f19d";
}


.glyphicon-object-align-left:before {
	content:"\f19e";
}


.glyphicon-object-align-right:before {
	content:"\f19f";
}


.glyphicon-object-align-top:before {
	content:"\f1a0";
}


.glyphicon-object-align-vertical:before {
	content:"\f1a1";
}


.glyphicon-off:before {
	content:"\f1a2";
}


.glyphicon-oil:before {
	content:"\f1a3";
}


.glyphicon-ok-circle:before {
	content:"\f1a4";
}


.glyphicon-ok-sign:before {
	content:"\f1a5";
}


.glyphicon-ok:before {
	content:"\f1a6";
}


.glyphicon-open-file:before {
	content:"\f1a7";
}


.glyphicon-open:before {
	content:"\f1a8";
}


.glyphicon-option-horizontal:before {
	content:"\f1a9";
}


.glyphicon-option-vertical:before {
	content:"\f1aa";
}


.glyphicon-paperclip:before {
	content:"\f1ab";
}


.glyphicon-paste:before {
	content:"\f1ac";
}


.glyphicon-pause:before {
	content:"\f1ad";
}


.glyphicon-pawn:before {
	content:"\f1ae";
}


.glyphicon-pdf:before {
	content:"\f1af";
}


.glyphicon-pencil:before {
	content:"\f1b0";
}


.glyphicon-phone-alt:before {
	content:"\f1b1";
}


.glyphicon-phone:before {
	content:"\f1b2";
}


.glyphicon-picture:before {
	content:"\f1b3";
}


.glyphicon-plane:before {
	content:"\f1b4";
}


.glyphicon-play-circle:before {
	content:"\f1b5";
}


.glyphicon-play:before {
	content:"\f1b6";
}


.glyphicon-plus-sign:before {
	content:"\f1b7";
}


.glyphicon-plus:before {
	content:"\f1b8";
}


.glyphicon-print:before {
	content:"\f1b9";
}


.glyphicon-pushpin:before {
	content:"\f1ba";
}


.glyphicon-pushpin2:before {
	content:"\f1bb";
}


.glyphicon-pushpin3:before {
	content:"\f1bc";
}


.glyphicon-pushpin4:before {
	content:"\f1bd";
}


.glyphicon-pushpin5:before {
	content:"\f1be";
}


.glyphicon-pushpin6:before {
	content:"\f1bf";
}


.glyphicon-pushpin7:before {
	content:"\f1c0";
}


.glyphicon-pushpin8:before {
	content:"\f1c1";
}


.glyphicon-qrcode:before {
	content:"\f1c2";
}


.glyphicon-queen:before {
	content:"\f1c3";
}


.glyphicon-question-sign:before {
	content:"\f1c4";
}


.glyphicon-random:before {
	content:"\f1c5";
}


.glyphicon-record:before {
	content:"\f1c6";
}


.glyphicon-refresh:before {
	content:"\f1c7";
}


.glyphicon-registration-mark:before {
	content:"\f1c8";
}


.glyphicon-remove-circle:before {
	content:"\f1c9";
}


.glyphicon-remove-sign:before {
	content:"\f1ca";
}


.glyphicon-remove:before {
	content:"\f1cb";
}


.glyphicon-repeat:before {
	content:"\f1cc";
}


.glyphicon-reset:before {
	content:"\f1cd";
}


.glyphicon-resize-full:before {
	content:"\f1ce";
}


.glyphicon-resize-horizontal:before {
	content:"\f1cf";
}


.glyphicon-resize-small:before {
	content:"\f1d0";
}


.glyphicon-resize-vertical:before {
	content:"\f1d1";
}


.glyphicon-retweet:before {
	content:"\f1d2";
}


.glyphicon-road:before {
	content:"\f1d3";
}


.glyphicon-ruble:before {
	content:"\f1d4";
}


.glyphicon-save-alt:before {
	content:"\f1d5";
}


.glyphicon-save-file:before {
	content:"\f1d6";
}


.glyphicon-saved:before {
	content:"\f1d7";
}


.glyphicon-scale:before {
	content:"\f1d8";
}


.glyphicon-scissors:before {
	content:"\f1d9";
}


.glyphicon-screenshot:before {
	content:"\f1da";
}


.glyphicon-sd-video:before {
	content:"\f1db";
}


.glyphicon-search:before {
	content:"\f1dc";
}


.glyphicon-send:before {
	content:"\f1dd";
}


.glyphicon-share-alt:before {
	content:"\f1de";
}


.glyphicon-share:before {
	content:"\f1df";
}


.glyphicon-shopping-cart:before {
	content:"\f1e0";
}


.glyphicon-signal:before {
	content:"\f1e1";
}


.glyphicon-sorting-asc:before {
	content:"\f1e2";
}


.glyphicon-sorting-desc:before {
	content:"\f1e3";
}


.glyphicon-sorting:before {
	content:"\f1e4";
}


.glyphicon-sound-5-1:before {
	content:"\f1e5";
}


.glyphicon-sound-6-1:before {
	content:"\f1e6";
}


.glyphicon-sound-7-1:before {
	content:"\f1e7";
}


.glyphicon-sound-dolby:before {
	content:"\f1e8";
}


.glyphicon-sound-stereo:before {
	content:"\f1e9";
}


.glyphicon-star-empty:before {
	content:"\f1ea";
}


.glyphicon-star:before {
	content:"\f1eb";
}


.glyphicon-stats:before {
	content:"\f1ec";
}


.glyphicon-step-backward:before {
	content:"\f1ed";
}


.glyphicon-step-forward:before {
	content:"\f1ee";
}


.glyphicon-stop:before {
	content:"\f1ef";
}


.glyphicon-subscript:before {
	content:"\f1f0";
}


.glyphicon-subtitles:before {
	content:"\f1f1";
}


.glyphicon-sunglasses:before {
	content:"\f1f2";
}


.glyphicon-superscript:before {
	content:"\f1f3";
}


.glyphicon-tag:before {
	content:"\f1f4";
}


.glyphicon-tags:before {
	content:"\f1f5";
}


.glyphicon-task:before {
	content:"\f1f6";
}


.glyphicon-text-background:before {
	content:"\f1f7";
}


.glyphicon-text-color:before {
	content:"\f1f8";
}


.glyphicon-text-height:before {
	content:"\f1f9";
}


.glyphicon-text-size:before {
	content:"\f1fa";
}


.glyphicon-text-width:before {
	content:"\f1fb";
}


.glyphicon-th-large:before {
	content:"\f1fc";
}


.glyphicon-th-list:before {
	content:"\f1fd";
}


.glyphicon-th:before {
	content:"\f1fe";
}


.glyphicon-thumbs-down:before {
	content:"\f1ff";
}


.glyphicon-thumbs-up:before {
	content:"\f200";
}


.glyphicon-time:before {
	content:"\f201";
}


.glyphicon-tint:before {
	content:"\f202";
}


.glyphicon-tower:before {
	content:"\f203";
}


.glyphicon-transfer:before {
	content:"\f204";
}


.glyphicon-trash:before {
	content:"\f205";
}


.glyphicon-tree-conifer:before {
	content:"\f206";
}


.glyphicon-tree-deciduous:before {
	content:"\f207";
}


.glyphicon-uncheck:before {
	content:"\f208";
}


.glyphicon-unlock:before {
	content:"\f209";
}


.glyphicon-upload:before {
	content:"\f20a";
}


.glyphicon-usd:before {
	content:"\f20b";
}


.glyphicon-user:before {
	content:"\f20c";
}


.glyphicon-volume-down:before {
	content:"\f20d";
}


.glyphicon-volume-off:before {
	content:"\f20e";
}


.glyphicon-volume-up:before {
	content:"\f20f";
}


.glyphicon-warning-sign:before {
	content:"\f210";
}


.glyphicon-wrench:before {
	content:"\f211";
}


.glyphicon-xls:before {
	content:"\f212";
}


.glyphicon-yen:before {
	content:"\f213";
}


.glyphicon-zoom-in:before {
	content:"\f214";
}


.glyphicon-zoom-out:before {
	content:"\f215";
}
