mixin PageContentComponent()
  +PageContent()
    section#pagecode
      +Title({ level: "h1", modifier: 'page'  })
        | Source Code
      block code
    section#pageguidelines
      +Title({ level: "h1", modifier: 'page' })
        | Generales Guidelines
      block guidelines
    section#pagestyle
      +Title({ level: "h1", modifier: 'page' })
        | Style
      block style

