.#{$prefix} {
  &-page {
    background: $white;

    &__header {
      padding: .8rem 1rem .8rem 30px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 5px;
        background: $color-marine;
        bottom: 0;
        left: 30px;
      }

      h1 {
        color: $color-marine;
        margin: 0;
        font-size: 2.5rem;
        font-family: $font-family-headings;
        transform: skewX(-15deg);
        letter-spacing: -2px;
      }

      h2 {
        color: $color-gray-dark;
        margin-top: 0;
        font-family: $font-family-base;
        font-weight: 100;
        font-style: italic;
      }
    }

    &__content {
      padding: 0 30px 2em 30px;

      .hljs {
        padding: 1em;
        min-height: 100%;
      }

      .hljs-tag {
        line-height: 2rem;
      }
    }

    &__links {
      position: sticky;
      z-index: 3;
      top: 53px;
      padding: 1em 1em 1em 30px;
      background: $color-action-2;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__summary {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      &-item {
        margin: 0 6px;
        font-size: 1.2rem;

        &:first-child {
          margin-left: 0;
        }
      }

      &-link {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }

        &:active,
        &:focus {
          color: red;
        }
      }
    }

    &__info {
      blockquote {
        margin: 2rem 2rem 0 2rem;
        padding: 1rem;
        background: $color-axa-light;
      }

      .af-alert--cmpt {
        margin: 1rem;
      }
    }
  }

  &-title {
    &--page {
      font-size: 2.2rem;
      margin: 1.5rem 0;
      font-weight: 800;
    }
  }
}
