.container
  .af-form__group.row
    .col-md-4
      .af-rccard__2.af-rccard-group.af-rccard-group--active
        p.af-rccard-header__meta Recommandé
        h1.af-rccard-group__title Franchisés standard
        .af-rccard-group__content
          .af-rccard.af-rccard--active
            header.af-rccard-header
              .af-form__radio
                input#name.af-form__input-radio(type="radio" checked="checked" name="name" value="")
                label.af-form__label(for="name")
                  span.af-form__description
                    p.af-rccard-header__title  Référence
                    p.af-rccard-header__subtitle 50 € / mois
            label.af-rccard-content.af-rccard-group__label(for="name")
              p.af-rccard-group__text John Doe
              dl
                dt.af-rccard__term  Statut:
                dd.af-rccard__def  En cours
                dt.af-rccard__term  Epargne atteinte:
                dd.af-rccard__def  125 000€
            footer.af-rccard-footer
              label.af-rccard-group__label(for="name")
                p.af-rccard-group__text Sortie en rente obligatoire
          .af-rccard
            header.af-rccard-header
              .af-form__radio
                input#money.af-form__input-radio(type="radio" name="name" value="")
                label.af-form__label(for="money")
                  span.af-form__description
                    p.af-rccard-header__title  Référence
                    p.af-rccard-header__subtitle 250 € / mois
            label.af-rccard-content.af-rccard-group__label(for="money")
              p.af-rccard-group__text John Doe
              dl
                dt.af-rccard__term  Statut:
                dd.af-rccard__def  En cours
                dt.af-rccard__term  Epargne atteinte:
                dd.af-rccard__def  85 000€
            footer.af-rccard-footer
              label.af-rccard-group__label(for="money")
                p.af-rccard-group__text Sortie en rente obligatoire
