.container
  .af-form__group.row
    .col-md-9
      .af-rccard__5.af-rccard-group.af-rccard-group--active
        h3.af-rccard-group__title Franchisés standard
        .af-rccard-group__content
          .af-rccard
            header.af-rccard-header
              .af-form__radio
                input#card-5-1.af-form__input-radio(type="radio" name="name-5" value="")
                label.af-form__label(for="card-5-1")
                  span.af-form__description
                    p.af-rccard-header__title  Référence
                    p.af-rccard-header__subtitle 50 € / mois
            label.af-rccard-content.af-rccard-group__label(for="card-5-1")
              p.af-rccard-group__text John Doe
              dl
                dt.af-rccard__term  Statut:
                dd.af-rccard__def  En cours
                dt.af-rccard__term  Epargne atteinte:
                dd.af-rccard__def  125 000€
            footer.af-rccard-footer
              label.af-rccard-group__label(for="card-5-1")
                p.af-rccard-group__text Sortie en rente obligatoire
          .af-rccard
            header.af-rccard-header
              .af-form__radio
                input#card-5-2.af-form__input-radio(type="radio" name="name-5" value="")
                label.af-form__label(for="card-5-2")
                  span.af-form__description
                    p.af-rccard-header__title  Référence
                    p.af-rccard-header__subtitle 50 € / mois
            label.af-rccard-content.af-rccard-group__label(for="card-5-2")
              p.af-rccard-group__text John Doe
              dl
                dt.af-rccard__term  Statut:
                dd.af-rccard__def  En cours
                dt.af-rccard__term  Epargne atteinte:
                dd.af-rccard__def  125 000€
            footer.af-rccard-footer
              label.af-rccard-group__label(for="card-5-2")
                p.af-rccard-group__text Sortie en rente obligatoire
          .af-rccard.af-rccard--active
            header.af-rccard-header
              .af-form__radio
                input#card-5-3.af-form__input-radio(type="radio" name="name-5" value="" checked="checked")
                label.af-form__label(for="card-5-3")
                  span.af-form__description
                    p.af-rccard-header__title  Référence
                    p.af-rccard-header__subtitle 250 € / mois
            label.af-rccard-content.af-rccard-group__label(for="card-5-3")
              p.af-rccard-group__text John Doe
              dl
                dt.af-rccard__term  Statut:
                dd.af-rccard__def  En cours
                dt.af-rccard__term  Epargne atteinte:
                dd.af-rccard__def  75 000€
            footer.af-rccard-footer
              label.af-rccard-group__label(for="card-5-3")
                p.af-rccard-group__text Sortie en rente obligatoire
          .af-rccard
            header.af-rccard-header
              .af-form__radio
                input#card-5-4.af-form__input-radio(type="radio" name="name-5" value="")
                label.af-form__label(for="card-5-4")
                  span.af-form__description
                    p.af-rccard-header__title  Référence
                    p.af-rccard-header__subtitle 250 € / mois
            label.af-rccard-content.af-rccard-group__label(for="card-5-4")
              p.af-rccard-group__text John Doe
              dl
                dt.af-rccard__term  Statut:
                dd.af-rccard__def  En cours
                dt.af-rccard__term  Epargne atteinte:
                dd.af-rccard__def  85 000€
            footer.af-rccard-footer
              label.af-rccard-group__label(for="card-5-4")
                p.af-rccard-group__text Sortie en rente obligatoire
          .af-rccard
            header.af-rccard-header
              .af-form__radio
                input#card-5-5.af-form__input-radio(type="radio" name="name-5" value="")
                label.af-form__label(for="card-5-5")
                  span.af-form__description
                    p.af-rccard-header__title  Référence
                    p.af-rccard-header__subtitle 250 € / mois
            label.af-rccard-content.af-rccard-group__label(for="card-5-5")
              p.af-rccard-group__text John Doe
              dl
                dt.af-rccard__term  Statut:
                dd.af-rccard__def  En cours
                dt.af-rccard__term  Epargne atteinte:
                dd.af-rccard__def  85 000€
            footer.af-rccard-footer
              label.af-rccard-group__label(for="card-5-5")
                p.af-rccard-group__text Sortie en rente obligatoire
