.container
  .af-form__group.row
    .col-md-3
      .af-rccard__1.af-rccard-group
        .af-rccard-group__content
          .af-rccard
            header.af-rccard-header
              .af-form__checkbox
                input#name1.af-form__input-checkbox(type="checkbox" name="" value="on")
                label.af-form__label(for="name1")
                  span.af-form__indicator
                    i.glyphicon.glyphicon-ok
                  span.af-form__description
                    p.af-rccard-header__title  Référence
                    p.af-rccard-header__subtitle 50 € / mois
            label.af-rccard-content.af-rccard-group__label(for="name1")
              p.af-rccard-group__text John Doe
              dl
                dt.af-rccard__term  Statut:
                dd.af-rccard__def  En cours
                dt.af-rccard__term  Epargne atteinte:
                dd.af-rccard__def  125 000€
            footer.af-rccard-footer
              label.af-rccard-group__label(for="name1")
                p.af-rccard-group__text Sortie en rente obligatoire
