@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

$logo-size: 22px;

.af-footer {
  font-size: 0.6875rem;
  padding: 0.5rem 0;

  .container {
    display: flex;
    align-items: center;

    .af-logo__brand {
      width: $logo-size;
      height: $logo-size;
      margin-right: 0.5rem;
    }
  }

  &-content {
    color: $color-axa;
    font-weight: 600;
  }
}
