@import '../node_modules/@axa-fr/react-toolkit-core/src/common/scss/core';

$logo-size: 40px;

.af-footer {
  font-size: 0.81rem;
  padding: 0.5625rem 0 0.25rem 1.438rem;

  .container {
    display: flex;
    align-items: center;

    .af-logo__brand {
      width: $logo-size;
      height: $logo-size;
      margin-right: 0.5rem;
    }
  }

  &-content {
    color: $color-axa;
    font-weight: 600;
  }
}
